.accordion > li {
  background: var(--accordion-background, #fff);
  border: var(--accordion-border, 1px solid hsl(0deg 0% 52%));
  margin: 0;
  padding: 0;
}

.accordion > li > button {
  background-color: var(--accordion-header-background, #f0f0f0);
  border-style: none;
  margin: 0;
  outline: none;
  padding: var(--accordion-header-padding, 1rem 1.5rem);
}

.accordion > li > button:focus {
  background: var(--accordion-focus-background, hsl(216deg 94% 94%));
}

.accordion > li > button:hover {
  background: var(--accordion-hover-background, hsl(216deg 94% 94%));
}

.accordion > li > button > img:first-child {
  height: var(--accordion-title-icon-height, 16px);
  object-fit: contain;
  width: var(--accordion-title-icon-width, 16px);
}

.accordion > li > button > img:last-child {
  border: 0;
  height: var(--accordion-icon-height, 1.5rem);
  width: var(--accordion-icon-width, 1.5rem);
}

.accordion > li > button > span {
  color: var(--accordion-title-color, #000);
  flex-grow: 1;
  font-size: var(--accordion-title-size, 1rem);
  text-align: left;
}

.accordion > li > div[role="region"] {
  max-height: var(--accordion-height, 30rem);
  overflow-y: scroll;
}

.accordion.horizontal > li {
  min-height: var(--accordion-horizontal-height, 30rem);
}

.accordion.horizontal > li > button {
  padding: var(--accordion-header-padding, 1.5rem 1rem);
  width: min-content;
}

.accordion.horizontal > li > button > span {
  line-height: normal;
  padding: 0;
  width: fit-content;
}

.accordion.horizontal > li > button > img:first-child {
  margin: var(--accordion-title-icon-margin, 0 0 5px 0);
}

.accordion.vertical > li > button > img:first-child {
  margin: var(--accordion-title-icon-margin, 0 5px 0 0);
}

.accordion.vertical > li.active > * + * {
  border-top: var(--accordion-border, 1px solid hsl(0deg 0% 52%));
}

.accordion.horizontal > li.active > * + * {
  border-left: var(--accordion-border, 1px solid hsl(0deg 0% 52%));
}
