:root {
  --tab-active-border: 1px solid transparent;
  --tab-background: #eee;
  --tab-background-active: #fff;
  --tab-background-hover: #ddd;
  --tab-border: 1px solid #ddd;
  --tab-font-color: #000;
  --tab-focus-outline: 1px solid #1c4786;
  --tab-font-size: 1rem;
  --tab-icon-height: 16px;
  --tab-icon-margin: 0 5px 0 0;
  --tab-icon-width: 16px;
  --tab-padding: 15px 25px;
}
