**/.env*
!**/.env.example
**/*.log
coverage
dist
dist-ssr
*.local
*.timestamp
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
