.dropdown-container {
  cursor: pointer;
  align-items: center;
  display: grid;
}

.dropdown-container > ul.dropdown-menu {
  display: none;
  background-color: var(--dropdown-bg-color, #fff);
  border: var(--dropdown-border, 1px solid grey);
  border-radius: var(--dropdown-border-radius, 5px);
  list-style: none;
  padding-inline-start: 0;
  padding: 0.15rem 0;
  position: absolute;
  top: 70%;
  z-index: var(--dropdown-z-index, 999);
}

.dropdown-container[data-aria-expanded="true"]
  > ul.dropdown-menu[data-aria-hidden="false"] {
  display: block;
}

.dropdown-container > ul.dropdown-menu li {
  padding: 0.25rem 0.5rem;
}

.dropdown-container > ul.dropdown-menu li > a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

span.icon {
  padding: 0 0.25rem;
}

.dropdown-container > ul.dropdown-menu li:hover {
  background-color: var(--dropdown-bg-color-hover, #dbe9fa);
}

.dropdown-container > .label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .dropdown-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.8rem;
    align-items: unset;
  }

  .dropdown-container[data-aria-expanded="true"] {
    background-color: #f7f7f7;
    padding-bottom: 0;
  }

  .dropdown-container:active,
  .dropdown-container:focus {
    background-color: var(--dropdown-bg-color-hover, #dbe9fa);
  }

  .dropdown-container > ul.dropdown-menu {
    position: relative;
    border: none;
    background: inherit;
    padding: 0.8rem 0 0;
  }

  .dropdown-container > ul.dropdown-menu li {
    padding: 0 0.5rem;
    height: 40px;
    display: flex;
    align-items: center;
    background: inherit;
  }

  .dropdown-container > ul.dropdown-menu li:active {
    background-color: var(--dropdown-bg-color-hover, #dbe9fa);
  }

  .dropdown-container > ul.dropdown-menu li:hover {
    background-color: inherit;
  }
}
