.basic-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: var(--basic-layout-gap, 0);
  z-index: 0;
}

.basic-layout :is(main) {
  max-width: var(--max-width, 100%);
  padding: var(--padding-v, 0.8rem) var(--padding-h, 0.8rem);
  width: 100%;
}

.basic-layout > main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.basic-layout > .sidebar {
  padding: 0.8rem 0;
}

.basic-layout > footer {
  z-index: var(--basic-layout-footer-z-index, 0);
}

.basic-layout > header {
  z-index: var(--basic-layout-header-z-index, 0);
}
