header {
  align-items: center;
  border-bottom: 1px solid var(--header-border-color, var(--border-color, #000));
  display: grid;
  font-size: var(--header-font-size, 1rem);
  grid-gap: 0 var(--header-gap, 1.5rem);
  grid-template-areas: "logo nav";
  grid-template-columns: var(--header-logo-width, 200px) 1fr;
  grid-template-rows: auto;
  position: relative;
}

header::before {
  background-color: var(--header-bg-color, transparent);
  bottom: 0;
  box-shadow: 0 0 0 100vmax var(--header-bg-color, transparent);
  clip-path: inset(
    calc(-1 * var(--header-padding-top, 1em)) -100vmax calc(
        -1 * var(--header-padding-bottom, 1em)
      ) -100vmax
  );
  content: "";
  grid-column: 1 / span 2;
  grid-row: 1 / 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 0;
  position: relative;
}

header .logo {
  grid-area: logo;
  max-width: var(--header-logo-width, 200px);
}

header > nav .main-menu {
  grid-area: main-menu;
}

header > .menu-container > .locale-switcher {
  grid-area: locales;
}

header > .menu-container > .user-menu {
  grid-area: user-menu;
}

header > nav .sign-in-up-menu {
  grid-area: user-menu;
}

header > .toggle {
  display: none;
}

header > .menu-container {
  display: grid;
  gap: var(--header-nav-column-gap, 0.25rem) var(--header-nav-row-gap, 1rem);
  grid-area: nav;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: "main-menu user-menu locales";
  justify-content: flex-end;
  min-height: 40px;
}

@media screen and (max-width: 576px) {
  header {
    align-items: start;
    grid-template-areas:
      "logo toggle"
      "nav nav";
    grid-template-columns: 1fr auto;
  }

  header > .menu-container {
    display: none;
  }

  header > .menu-container.dropdown {
    align-items: stretch;
    left: 0;
    position: relative;
    right: 0;
  }

  header > .menu-container.left-slider {
    align-items: flex-start;
    background-color: var(--locale-switcher-bg-color, #fff);
    border: var(--locale-switcher-border, 1px solid grey);
    bottom: 0;
    left: 0;
    margin: 0;
    padding: var(--padding-v, 0.8rem) var(--padding-h, 0.8rem);
    position: fixed;
    top: 0;
  }

  header > .menu-container[data-aria-expanded="true"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  header .toggle {
    align-self: center;
    cursor: pointer;
    display: block;
    grid-area: toggle;
  }
}
