footer, .footer {
  align-items: center;
  background-color: var(--footer-bg-color, transparent);
  border-top: 1px solid var(--footer-border-color, #000);
  box-shadow: 0 0 0 100vmax var(--footer-bg-color, transparent);
  clip-path: inset(0 -100vmax);
  display: flex;
  flex-direction: column;
  font-size: var(--footer-font-size, 0.8rem);
  gap: var(--footer-column-gap, 0.25rem) var(--footer-row-gap, 0.25rem);
  justify-content: center;
  line-height: 1.25rem;
  padding: var(--footer-padding-v, 0.8rem) 0;
  text-align: center;
}

@media (min-width: 576px) {

  footer, .footer {
    align-items: top;
    flex-direction: row;
    justify-content: space-between;
  }
}

.version {
  font-size: var(--version-font-size, 0.8rem);
}
