.layout > header {
  --header-bg-color: #ffffff;
  --header-border-color: var(--border-color);
  --header-font-size: var(--font-size);
  --header-gap: 1.5rem;
  --header-logo-max-width: 150px;
  --header-padding-v: 1em;

  align-items: center;
  border-bottom: 1px solid var(--header-border-color);
  display: grid;
  font-size: var(--header-font-size);
  column-gap: 0;
  row-gap: 0.5rem;
  grid-template-columns: 1fr auto;
  padding-bottom: var(--header-padding-v);
  padding-top: var(--header-padding-v);
  position: relative;
}

.layout > header::before {
  content: "";
  background-color: var(--header-bg-color);
  box-shadow: 0 0 0 100vmax var(--header-bg-color);
  clip-path: inset(
    calc(-1 * var(--header-padding-top, 1em)) -100vmax calc(
        -1 * var(--header-padding-bottom, 1em)
      ) -100vmax
  );
  grid-column: 1 / span 4;
  grid-row: 1 / 1;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.layout > header > .toggle {
  grid-row: 1;
  grid-column: 2;
}

.layout > header > .main-menu,
.layout > header > .dz-user-menu,
.layout > header > .dz-auth-menu,
.layout > header > .locale-switcher {
  grid-column: 1 / span 2;
}

.layout > header[aria-expanded="false"] > :not(.logo):not(.toggle) {
  display: none;
}

.layout > header > nav[data-expanded="false"] {
  display: none;
}

.layout > header .logo > a {
  text-decoration: none;
  color: var(--color, #545454);
}

.layout > header .logo img {
  max-width: var(--header-logo-max-width);
}

.layout > header .logo .logo-default {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 500;
  text-transform: capitalize;
}

.layout > header .logo .logo-default > span:first-child {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.layout > header .logo .logo-default > span:not(:first-child) {
  max-width: 200px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout > header .toggle {
  cursor: pointer;
  justify-self: right;
}

.main-menu > ul > li:hover,
.main-menu > ul > li .active {
  text-decoration: underline;
}

@media screen and (min-width: 576px) {
  .layout > header {
    grid-template-columns: auto 1fr auto auto;
    column-gap: 1.5rem;
    row-gap: 0;
  }

  .layout > header > .main-menu,
  .layout > header > .dz-user-menu,
  .layout > header > .locale-switcher,
  .layout > header > .dz-auth-menu {
    grid-column: span 1;
  }

  .layout > header > .dz-user-menu,
  .layout > header > .dz-auth-menu {
    grid-column: 3;
  }

  .layout > header[aria-expanded="false"] > :not(.logo):not(.toggle) {
    display: unset;
  }

  .layout > header .toggle {
    display: none;
  }
}
