ul.navigation {
  --_layout-sidebar-navigation-padding-h: var(
    --dz-layout-sidebar-padding-h,
    1.5rem
  );

  display: flex;
  flex-direction: column;
  padding: 0;
}

ul.navigation > li > .nav-item {
  color: var(--layout-sidebar-color);
  display: grid;
  gap: 0.75rem;
  grid-template-columns: auto 1fr auto;
  padding: 0.5rem var(--_layout-sidebar-navigation-padding-h);
  text-decoration: none;
  width: 100%;
}

ul.navigation > li > .nav-item:hover,
ul.navigation > li > .nav-item[aria-current="page"] {
  font-weight: bold;
  text-decoration: none;
}
