.sidebar-navigation > ul {
  --_layout-sidebar-nav-padding-h: var(--dz-layout-sidebar-padding-h, 1.5rem);
  --_layout-sidebar-nav-active-bg: var(
    --dz-layout-sidebar-nav-active-bg,
    rgba(45, 45, 45, 0.125)
  );
  --_layout-sidebar-nav-hover-bg: var(
    --dz-layout-sidebar-nav-hover-bg,
    rgba(45, 45, 45, 0.125)
  );

  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.sidebar-navigation > ul > li > .nav-item {
  color: var(--layout-sidebar-color);
  display: grid;
  gap: 0.75rem;
  grid-template-columns: auto 1fr auto;
  padding: 0.5rem var(--_layout-sidebar-nav-padding-h);
  text-decoration: none;
  width: 100%;
  transition: all 120ms linear;
}

.sidebar-navigation > ul > li > .nav-item:hover {
  text-decoration: none;
  background: var(--_layout-sidebar-nav-hover-bg);
}

.sidebar-navigation > ul > li > .nav-item[aria-current="page"] {
  font-weight: bold;
  text-decoration: none;
  background: var(--_layout-sidebar-nav-active-bg);
}
