.sidebar {
  display: none;
}

@media screen and (min-width: 576px) {
  .sidebar {
    display: block;
    position: relative;
    left: 0;
    min-width: 48px;
    width: 3.5rem;
    transition: var(--transition);
    z-index: 1;
    background-color: white;
    border-right: 1px solid var(--border-color);
  }

  .sidebar > .toggle-button {
    display: flex;
    justify-content: flex-end;
    padding: 0.2rem;
    margin-bottom: 1rem;
  }

  .sidebar > .toggle-button > button {
    align-items: center;
    background-color: #dbe9fa;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    opacity: 0.5;
    justify-content: center;
    position: relative;
    padding: 1rem;
    border: none;
    height: 3rem;
    width: 3rem;
  }

  .sidebar > .toggle-button > button:hover {
    opacity: 1;
  }

  .sidebar[aria-expanded="true"] {
    width: 250px;
  }

  .sidebar[aria-expanded="true"] > .toggle-button > button {
    transform: rotate(180deg);
  }

  .sidebar > .sidebar-menu span[role="label"] {
    width: 0;
    font-weight: 700;
    transition: var(--transition);
  }

  .sidebar[aria-expanded="true"] > .sidebar-menu span[role="label"] {
    width: 100%;
  }
}
