.sidebar {
  display: none;
}

@media screen and (min-width: 576px) {
  .sidebar {
    display: block;
    position: relative;
    left: 0;
    min-width: 48px;
    width: 3.5rem;
    transition: all var(--transition-duration) ease 0s;
    z-index: 1;
    background-color: white;
    border-right: 1px solid var(--border-color);
  }

  .sidebar > .toggle-button {
    display: flex;
    justify-content: flex-end;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
  }
  
  .sidebar[aria-expanded="false"] > .toggle-button {
    justify-content: center;
  }

  .sidebar > .toggle-button > button {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1rem;
    border: none;
    height: 3rem;
    width: 3rem;
  }
  
  .sidebar[aria-expanded="true"] {
    width: 250px;
  }
}
