:root {
  --button-color-primary: #007aff;
  --button-color-secondary: #475569;
  --button-color-success: #16a34a;
  --button-color-danger: #dc2626;
}

.button {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 700;
  background-color: #007aff;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s ease;
}

.button:hover {
  filter: brightness(0.6);
}

.button.secondary {
  background-color: #475569;
}

.button.success {
  background-color: #16a34a;
}

.button.danger {
  background-color: #dc2626;
}

.button.outlined {
  background: transparent;
  color: #007aff;
  border: 1px solid #007aff;
}

.button.secondary.outlined {
  background: transparent;
  color: #475569;
  border: 1px solid#475569;
}

.button.success.outlined {
  background: transparent;
  color: #16a34a;
  border: 1px solid #16a34a;
}

.button.danger.outlined {
  background: transparent;
  color: #dc2626;
  border: 1px solid#dc2626;
}

.button:disabled {
  opacity: 0.7;
  cursor: default;
}

.button:disabled:hover {
  filter: none;
}
