:root {
  --button-text-color: #ffffff;
}

.button {
  --_button-color: var(--button-color);
  --_button-outlined-hover-color: var(--button-outlined-hover-color);
  --_button-font-size: var(--button-font-size);
  --_button-icon-size: var(--button-icon-size);
  border-radius: 0.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  cursor: pointer;
  color: var(--button-text-color);
  transition: all 0.3s ease;
}

.button.right {
  flex-direction: row-reverse;
}

.button.filled:hover {
  filter: brightness(0.8);
}

.button.primary {
  --button-color: #007aff;
  --button-outlined-hover-color: #e6eef6;
}

.button.secondary {
  --button-color: #475569;
  --button-outlined-hover-color: #eaeff6;
}

.button.alternate {
  --button-color: #0284c7;
  --button-outlined-hover-color: #e9f2f6;
}

.button.primary,
.button.secondary,
.button.alternate {
  background-color: var(--_button-color);
}

.button.secondary.outlined,
.button.alternate.outlined,
.button.primary.outlined {
  background: transparent;
  color: var(--_button-color);
  border: 1px solid var(--_button-color);
}

.button.primary.outlined:hover,
.button.secondary.outlined:hover,
.button.alternate.outlined:hover {
  background: var(--_button-outlined-hover-color);
}

.button.small {
  --button-icon-size: 0.8rem;
  --button-font-size: 0.875rem;
  padding: 0.65625rem 1.09375rem;
}

.button.medium {
  --button-icon-size: 0.95rem;
  --button-font-size: 1rem;
  padding: 0.75rem 1.25rem;
}

.button.large {
  --button-icon-size: 1.15rem;
  --button-font-size: 1.5rem;
  padding: 0.9375rem 1.5625rem;
}

.button.small,
.button.large,
.button.medium {
  font-size: var(--_button-font-size);
}

.button.small > span > i,
.button.large > span > i,
.button.medium > span > i {
  font-size: var(--_button-icon-size);
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.button.filled:disabled:hover {
  filter: none;
}

.button.outlined:disabled:hover {
  background: none;
}
