:root {
  --button-text-color: #ffffff;
  --button-primary-color: var(--dz-primary-color);
  --button-secondary-color: var(--dz-secondary-color);
  --button-alternate-color: var(--dz-alternate-color);
  --button-success-color: var(--dz-success-color);
  --button-danger-color: var(--dz-danger-color);
  --button-warning-color: var(--dz-warning-color);
  --button-small-font-size: 0.875rem;
  --button-small-icon-size: 0.8rem;
  --button-medium-icon-size: 0.95rem;
  --button-medium-font-size: 1rem;
  --button-large-icon-size: 1.15rem;
  --button-large-font-size: 1.5rem;
  --button-small-padding: 0.65625rem 1.09375rem;
  --button-medium-padding: 0.75rem 1.25rem;
  --button-large-padding: 0.9375rem 1.5625rem;
  --button-primary-outlined-hover-color: #e6eef6;
  --button-secondary-outlined-hover-color: #eaeff6;
  --button-alternate-outlined-hover-color: #e9f2f6;
  --button-success-outlined-hover-color: #eff6f2;
  --button-danger-outlined-hover-color: #f8eff0;
  --button-warning-outlined-hover-color: #f7f1ef;
}

.dz-button {
  --_button-color: var(--button-color);
  --_button-outlined-hover-color: var(--button-outlined-hover-color);
  --_button-font-size: var(--button-font-size);
  --_button-icon-size: var(--button-icon-size);
  --_button-padding: var(--button-padding);
  background-color: var(--_button-color);
  border-radius: 0.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--_button-font-size);
  padding: var(--_button-padding);
  position: relative;
  gap: 0.5rem;
  font-weight: 700;
  cursor: pointer;
  color: var(--_button-color);
  overflow: hidden;
  transition: all 0.2s ease;
}

.dz-button:focus {
  outline: 2px solid var(--_button-color);
  outline-offset: 2px;
}

.dz-button:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(var(--_button-font-size) * 10);
  height: calc(var(--_button-font-size) * 10);
  margin-left: calc(-5 * var(--_button-font-size)); 
  margin-top: calc(-5 * var(--_button-font-size)); 
  background: white;
  border-radius: 100%;
  opacity: 0.6;
  transform: scale(0);
  visibility: hidden;
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.dz-button:not(:active):after {
  animation: ripple 1s ease-out;
}

.dz-button:focus:after {
  visibility: visible;
}

.dz-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.dz-button.filled {
  color: var(--button-text-color);
}

.dz-button.filled:hover {
  filter: brightness(0.8);
}

.dz-button.filled:disabled:hover {
  filter: none;
}

.dz-button.outlined {
  background: transparent;
  border: 1px solid var(--_button-color);
}

.dz-button.outlined:hover {
  background: var(--_button-outlined-hover-color);
}

.dz-button.outlined:disabled:hover {
  background: none;
}

.dz-button.primary {
  --button-color: var(--button-primary-color);
  --button-outlined-hover-color: var(--button-primary-outlined-hover-color);
}

.dz-button.secondary {
  --button-color: var(--button-secondary-color);
  --button-outlined-hover-color: var(--button-secondary-outlined-hover-color);
}

.dz-button.alternate {
  --button-color: var(--button-alternate-color);
  --button-outlined-hover-color: var(--button-alternate-outlined-hover-color);
}

.dz-button.success {
  --button-color: var(--button-success-color);
  --button-outlined-hover-color: var(--button-success-outlined-hover-color);
}

.dz-button.danger {
  --button-color: var(--button-danger-color);
  --button-outlined-hover-color: var(--button-danger-outlined-hover-color);
}

.dz-button.warning {
  --button-color: var(--button-warning-color);
  --button-outlined-hover-color: var(--button-warning-outlined-hover-color);
}

.dz-button.small {
  --button-icon-size: var(--button-small-icon-size);
  --button-font-size: var(--button-small-font-size);
  --button-padding: var(--button-small-padding);
}

.dz-button.medium {
  --button-icon-size: var(--button-medium-icon-size);
  --button-font-size: var(--button-medium-font-size);
  --button-padding: var(--button-medium-padding);
}

.dz-button.large {
  --button-icon-size: var(--button-large-icon-size);
  --button-font-size: var(--button-large-font-size);
  --button-padding: var(--button-large-padding);
}

.dz-button > span > i {
  font-size: var(--_button-icon-size);
}
