.checkbox-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.checkbox-wrapper > input[type="checkbox"] {
  cursor: pointer;
  width: auto;
  transform: scale(1.5);
  accent-color: var(--field-background-color);
}

.error-message {
  margin-top: 1rem;
  color: var(--error-message-color);
}
