.field.checkbox > legend {
  font-size: var(--form-label-font-size, 1em);
  margin-bottom: 0.75rem;
}

.field.checkbox > .checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field.checkbox > .checkbox-group.direction-horizontal {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}
