.data {
  --_padding-inline: 0;
  --_padding-block: 0;
  --_min-width: 0;

  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  
  min-width: var(--_min-width);
  padding-inline: var(--_padding-inline);
  padding-block: var(--_padding-block);
  width: max-content;
}

.data .label {
  --_caption-color: var(--data-caption-color, #333);
  
  color: var(--_caption-color);
  font-size: 0.875rem;
}

.data.data-stat {
  --_padding-inline: var(--data-stat-padding-inline, 0.75rem);
  --_padding-block: var(--data-stat-padding-block, 0.5rem);
  --_min-width: var(--data-stat-min-width, 13rem);

  border: 1px solid #555;
  border-radius: 0.5rem;
}

.data.data-stat .value {
  display: flex;
  font-size: 2rem;
  justify-content: flex-end;
}
