:root {
  --input-border-color: var(--dz-primary-color);
}

.debounced-input {
  padding: 6px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #f8f9fa;
  max-width: 100%;
}

.debounced-input:focus {
  outline: none;
  border-color: var(--input-border-color) ;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
