.dz-dialog-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: black;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dz-dialog-wrapper > .dz-dialog {
  height: auto;
  width: auto;
  padding: 2rem 1rem;
  background-color: white;
  border-radius: 0.5rem;
}
