.dropdown-menu {
  width: fit-content;
}

.dropdown-menu-trigger {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  text-wrap: nowrap;
  transition: all var(--transition-duration) ease 0s;
}

.dropdown-menu .dropdown-menu-trigger > span {
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu-trigger .dropdown-icon {
  display: inline-block;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.popup-trigger[aria-expanded="true"]
  .dropdown-menu-trigger
  .dropdown-icon {
  transform: rotate(180deg);
}

.popup-trigger[aria-expanded="true"] .dropdown-menu-trigger {
  background-color: var(--dropdown-container-bg-color, #e5e5e5);
  border-radius: 5px;
}

ul.dropdown-menu-list {
  background-color: var(--dropdown-bg-color, #fff);
  border-radius: var(--dropdown-border-radius, inherit);
  list-style: none;
  min-width: 160px;
  overflow: hidden;
  padding-inline-start: 0;
  width: max-content;
}

ul.dropdown-menu-list li {
  background-color: white;
  cursor: pointer;
  padding: 0.7rem 1.25rem;
  transition: all var(--transition-duration) ease 0s;
}

ul.dropdown-menu-list li.danger {
  color: var(--dz-danger-color, #dc3545);
}

ul.dropdown-menu-list li[aria-disabled="true"] {
  cursor: default !important;
  opacity: 0.6;
  pointer-events: none;
  user-select: none;
}

ul.dropdown-menu-list li:hover {
  background-color: var(--dropdown-bg-color-hover, #e5e5e5);
}

ul.dropdown-menu-list li .menu-item > i {
  margin-right: 0.5rem;
}

@media screen and (min-width: 576px) {
  .dropdown-menu-trigger:hover {
    background-color: var(--dropdown-container-bg-color-hover, #e5e5e5);
    border-radius: 5px;
  }
}
