.dz-editable-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}

.dz-editable-title > i {
  cursor: pointer;
}

.dz-editable-title > .field,
.dz-editable-title > .field > input {
  width: 100%;
}
