.file-card {
  width: 20rem;
  box-shadow: -1px -1px 29px -14px rgba(0,0,0,0.68);
}

.file-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.file-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.file-size {
  margin-left: 0.5rem;
}

.upload-download-detail-wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;
}

.file-upload-details {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  margin-bottom: 2rem;
}

.file-download-details {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.uploaded-by,
.uploaded-at,
.download-count,
.last-downloaded-at {
  display: flex;
  margin-bottom: 1rem;
  /* flex-direction: column; */
}

.uploaded-by,
.uploaded-at {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
}

.uploaded-by,
.download-count {
  /* margin-bottom: 2rem; */
}

.uploaded-by > span:first-child,
.uploaded-at > span:first-child,
.download-count > span:first-child,
.last-downloaded-at > span:first-child {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.file-actions {
  display: flex;
  justify-content: space-between;
}
