.file-card,
.file-card > .p-card-body,
.file-card > .p-card-body > .p-card-content {
  padding: 0rem !important;
}

.file-card {
  box-shadow: -1px -1px 29px -14px rgba(0, 0, 0, 0.28);
  max-width: 100%;
}

.file-thumbnail-details-wrapper {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.file-card .file-thumbnail {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
  min-width: 6rem;
}

.file-card .file-thumbnail > i {
  font-size: 5rem;
}

.file-card .details-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  min-width: 15rem;
}

.file-card .name-description-details-wrapper {
  display: flex;
  flex-direction: column;
}

.file-card .name {
  font-size: 1.5rem;
  font-weight: bold;
}

.file-card .file-size {
  font-size: 1.3rem;
  margin-left: 1rem;
}

.file-card .description-wrapper-details {
  align-items: center;
  display: flex;
  margin-top: 0.5rem;
}

.file-card .file-upload-download-details-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.file-card .file-upload-details {
  display: flex;
  gap: 1rem;
}

.file-card .uploaded-by,
.file-card .uploaded-at {
  display: flex;
  flex-direction: column;
}

.file-card .uploaded-by > span:first-child,
.file-card .uploaded-at > span:first-child,
.file-card .download-count > span:first-child,
.file-card .last-downloaded-at > span:first-child {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.file-card .download-count {
  margin-bottom: 0.3rem;
}

.file-card .download-count > span:last-child,
.file-card.last-downloaded-at > span:last-child {
  margin-left: 0.4rem;
}

.file-card .file-download-details {
  display: flex;
  flex-direction: column;
}

.file-card .file-actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0rem 1rem 1rem 1rem;
}
