:root {
  --text-link-color: var(--dz-primary-color);
}

a.native-link {
  color: var(--text-link-color);
  cursor: pointer;
  text-decoration: none;
}

a.native-link:hover {
  text-decoration: underline;
}
