.dz-grid-container-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 60rem) {
  .dz-grid-container-content {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}
