.dz-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.dz-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  min-width: 300px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  color: var(--color);
}

.dz-modal .dz-modal-header {
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dz-modal .dz-modal-header span[role="heading"] {
  font-weight: bold;
  font-size: 1.5rem;
}

.dz-modal .dz-modal-content {
  padding: 0.7rem;
}

.dz-modal .dz-modal-footer {
  padding: 0.7rem;
  text-align: right;
}

.dz-modal .dz-close-button {
  border-radius: 100%;
  padding: 0.75rem;
}
