.dz-page {
  --_page-gap: var(--dz-page-gap);
  display: flex;
  gap: var(--_page-gap);
  flex-direction: column;
}

.dz-page[data-centered="true"] {
  justify-items: center;
  max-width: var(--dz-page-max-width);
  margin: auto;
}

.dz-page > .dz-page-header {
  display: flex;
  flex-direction: space-between;
}

.dz-page > .dz-page-content > div[role="alert"].error > span {
  color: var(--error-text-color, red);
  font-size: var(--error-font-size, 1rem);
}

.dz-page > .dz-page-content {
  margin-top: 1rem;
}

.dz-page > .dz-page-header > .dz-page-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--dz-page-gap);
  overflow-wrap: break-word;
}

.dz-page > .dz-page-header > .dz-page-toolbar {
  display: none;
}

.dz-page > .dz-page-header > .dz-page-title-wrapper > h1 > span {
  margin-left: 0.5rem;
}

@media (min-width: 576px) {
  .dz-page > .dz-page-header {
    grid-template-columns: repeat(2, minmax(0, auto));
  }

  .dz-page-toolbar[data-breadcrumb="true"] > :first-child {
    display: none;
  }

  .toolbar-action-menu {
    display: none;
  }

  .dz-page > .dz-page-header > .dz-page-toolbar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--dz-page-gap);
    height: fit-content;
    justify-content: flex-end;
    margin-left: auto;
  }

  .dz-page > .dz-page-header > .dz-page-title-wrapper > h1 > span {
    vertical-align: super;
  }

  .dz-page-toolbar[data-breadcrumb="true"] > :first-child {
    display: block;
  }
}
