.dz-page {
  --_page-gap: var(--dz-page-gap);
  display: grid;
  gap: var(--_page-gap);
  grid-template-columns: 100%;
}

.dz-page > .content > div[role="alert"].error > span {
  color: var(--error-text-color, red);
  font-size: var(--error-font-size, 1rem);
}

.dz-page > .content {
  margin-top: 1rem;
}

@media (min-width: 576px) {
  .dz-page {
    grid-template-columns: 1fr auto;
  }

  .dz-page > .breadcrumb {
    grid-column: 1 / span 2;
  }

  .dz-page > .subtitle {
    grid-column: 1 / span 2;
    order: 1;
  }

  .dz-page > .content {
    grid-column: 1 / span 2;
    order: 2;
  }
}
