.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0.5rem;
  background-color: #f8f9fa;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}

.pagination .buttons-wrapper,
.pagination .buttons-wrapper > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.pagination .buttons-wrapper {
  padding: 0 0.5rem;
  gap: 0.5rem;
}

.first-page,
.last-page,
.next-page,
.previous-page,
.page-button {
  border: none;
  padding: 8px 12px;
  margin: 2px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.first-page:hover,
.last-page:hover,
.next-page:hover,
.previous-page:hover,
.page-button:hover {
  background-color: #0056b3;
}

.first-page:disabled,
.last-page:disabled,
.next-page:disabled,
.previous-page:disabled,
.page-button:disabled {
  background-color: #e4e4e4;
  cursor: not-allowed;
  color: inherit;
}

.page-button.active {
  background-color: #0056b3;
}

.items-per-page-control,
.page-input-control {
  display: flex;
  align-items: center;
  color: #495057;
}

.items-per-page-control span,
.page-input-control span {
  margin-right: 8px;
}

.items-per-page-control select,
.page-input-control input {
  padding: 6px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-right: 8px;
  width: 4rem;
  background-color: #f8f9fa;
}

.items-per-page-control select:focus,
.page-input-control input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
