.popup-container {
  position: relative;
}

.popup-trigger {
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

.popup-menu {
  background-color: #ffffff;
  border-radius: calc(var(--border-radius) * 1.5);
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 5px 1px #cccccc;
  display: inline-block;
  margin-top: 4px;
  min-width: 12rem;
  position: absolute;
  z-index: 1000;
}

#popper[data-popper-reference-hidden] {
  pointer-events: none;
  visibility: hidden;
}
