.popup-container {
  position: relative;
}

.popup-trigger {
  cursor: pointer;
  display: inline-block;
}

.popup-menu {
  position: absolute;
  z-index: 1000;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
}

.popup-menu ul {
  background-color: var(--field-option-bg-color);
  border-radius: var(--field-border-radius);
  display: flex;
  flex-direction: column;
  max-height: 10rem;
  min-width: 11rem;
  overflow: auto;
  padding: 0.75rem 0.65rem;
  row-gap: 0.3rem;
  text-align: left;
  width: 100%;
  z-index: 1000;
}

.popup-menu ul > .debounced-input {
  align-items: unset;
}

.popup-menu ul > .debounced-input input {
  padding: 0.5rem 0.65rem;
}

.popup-menu ul > li {
  border-radius: var(--field-border-radius);
  cursor: pointer;
  display: flex;
  padding: 0.5rem 0.65rem;
  transition: all var(--transition-duration) ease;
}

.popup-menu ul > li:hover, .popup-menu ul > li.focused {
  background-color: var(--field-option-hover-color);
}

.popup-menu ul > li.selected {
  background-color: var(--field-option-selected-color);
}

.popup-menu ul > li.disabled {
  color: var(--field-option-disabled-color);
  cursor: not-allowed;
}


.popup-menu ul > li {
  gap: 0.5rem;
  align-items: baseline;
}

.popup-menu[aria-multiselectable="false"] ul > li {
  padding: 0;
}

.popup-menu ul > li > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.popup-menu[aria-multiselectable="false"] ul > li > span {
  padding: 0.5rem 0.65rem;
}

#popper[data-popper-reference-hidden] {
  visibility: hidden;
  pointer-events: none;
}
