.radio-button-wrapper {
  display: flex;
}

.radio-button-wrapper input[type="radio"] {
  cursor: pointer;
  margin-right: 8px;
  order: 1;
  outline: none;
  transform: scale(1.5);
}

.radio-button-wrapper label {
  margin-left: 4px;
  order: 2;
}
