.responsive-menu > ul {
  flex: 1;
  flex-direction: row;
  gap: var(--responsive-menu-gap, 1rem);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.responsive-menu > ul > li {
  display: flex;
}

.responsive-menu > ul > li > a {
  padding: 0 0.2rem;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
}

.responsive-menu[aria-orientation="vertical"] > ul span[role="icon"] {
  margin-right: 0.5rem;
}

.responsive-menu > ul span[role="icon"] > :first-child {
  font-size: 1em;
  padding: 0.75rem;
}

.responsive-menu > ul span[role="label"] {
  overflow: hidden;
  font-size: 1em;
  padding: 0.75rem 0;
}

.responsive-menu[aria-orientation="vertical"] > ul {
  flex-direction: column;
  gap: var(--responsive-menu-gap, 0.5rem);
  flex: 1;
}

.responsive-menu[aria-orientation="vertical"] > ul > li {
  width: 100%;
  background-color: white;
  transition: all var(--transition-duration) ease 0s;
}

.responsive-menu[aria-orientation="vertical"] > ul > li:hover {
  background-color: var(--dropdown-bg-color-hover, #dbe9fa);
}

.responsive-menu[aria-orientation="vertical"] > ul > li a[aria-current="page"] {
  background-color: var(--dropdown-bg-color-hover, #dbe9fa);
}

@media screen and (max-width: 576px) {
  .responsive-menu {
    flex: 1;
  }

  .responsive-menu > ul {
    flex-direction: column;
    gap: var(--grid-gap);
  }

  .responsive-menu > ul > li {
    display: flex;
    padding: 0 0.75rem;
  }

  .responsive-menu > ul > li > a {
    flex: 1;
    text-align: left;
    padding: 0;
  }
}
