.select {
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  display: flex;
  padding: 0 0.65rem;
}

.select-input {
  position: relative;
}

.select input {
  border: none;
}
  
.select input:focus {
  outline: none;
}

.select .cancel {
  cursor: pointer;
  position: absolute;
  right: 2rem;
}

.select .cancel > i {
  font-size:12px;
}

.select-options {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.select-options > span {
  display: block;
  cursor: pointer;
}
