.field-select {
  position: relative;
}

.input-field-select {
  align-items: center;
  background-color: var(--dz-input-fill-color);
  border: 1px solid var(--field-border-color);
  border-radius: var(--field-border-radius);
  display: flex;
  padding: 0.5rem 0.65rem;
}

.input-field-select input {
  border: none;
  width: 100%;
}
  
.input-field-select input:focus {
  outline: none;
}

.input-field-select span > i {
  color: #b5b5b5;
  padding: 0.25rem;
}

.input-field-select span.cancel > i {
  font-size: 12px;
}

.select-field-options {
  background-color: #ffffff;
  border: 1px solid var(--field-border-color);
  border-radius: var(--field-border-radius);
  padding: 0.75rem 0.65rem;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.select-field-options > span {
  cursor: pointer;
  display: block;
  padding: 0.25rem 0;
}

.input-field-select[aria-invalid=true] {
  border-color: var(--form-input-border-color-danger, #dc3545);
}

.input-field-select[aria-invalid=false] {
  border-color: var(--form-input-border-color-success, #198754);
}
