.sortable-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sortable-list .sortable-item {
  background-color: #fff;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sortable-list .sortable-item > .grab-icon {
  cursor: grab;
  color: rgb(230, 230, 230);
  font-size: 0.6rem;
}

.sortable-list .item {
  padding: 0.5rem;
  border-left: 1px solid rgb(236, 236, 236);
  margin: 2px 0;
}

.sortable-list .sortable-item:hover {
  background-color: #f8f8f8;
}
