.sortable-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sortable-list .sortable-item {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-in-out;
  flex-wrap: wrap;
}

.sortable-list .sortable-item > .grab-icon {
  cursor: grab;
  color: rgb(230, 230, 230);
  font-size: 0.6rem;
}

.sortable-list .item {
  padding: 0.5rem;
  border-left: 1px solid rgb(236, 236, 236);
  margin: 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.sortable-list .sortable-item:hover {
  background-color: #f8f8f8;
}

.sortable-item.dragged-item {
  opacity: 0.5;
}

.sortable-item.dragged-up {
  border-top: 5px solid rgb(209, 209, 209); 
}

.sortable-item.dragged-down {
  border-bottom: 5px solid rgb(209, 209, 209);
}
