.stepper {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.stepper > .step {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
}

.stepper > .step > span[aria-current="step"] {
  background-color: #06b6d4;
  border: none;
  color: #ffffff;
}

.stepper > .step > span[aria-current="step"]:hover {
  background-color: none;
}

.stepper > .step > .step-number {
  align-items: center;
  background: #ffffff;
  border: 1px solid #f3f4f6;
  border-radius: 50%;
  display: flex;
  height: 3rem;
  justify-content: center;
  transition: all 0.4s ease;
  width: 3rem;
  z-index: 0;
}

.stepper > .step > .step-label {
  color: #6b7280;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  word-break: break-word;
  text-align: center;
}

.stepper > .step > .step-number:hover,
.stepper > .step > .step-label:hover {
  cursor: pointer;
}

.stepper > .step > .step-label.active {
  color: #000;
  font-weight: bold;
}

.stepper > .step::before {
  border-top: 1px solid #e5e7eb;
  content: " ";
  display: block;
  left: 0;
  margin-top: -1rem;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: -1;
}

.stepper > .step:last-child()::before {
  left: -50%;
}

.stepper > .step:first-child::before {
  left: 50%;
}
