.stepper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 2rem;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
}

.label-wrapper > span[aria-current="step"] {
  background-color: #06b6d4;
  color: white;
  border: none;
}

.step-number {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid #f3f4f6;
  box-shadow: -1px -1px 29px -14px rgba(0, 0, 0, 0.28);
  background: #ffffff;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease;
}

.step-label {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  color: #6b7280;
}

.step-label.active {
  color: #000;
  font-weight: bold;
}

.line {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  border-top: 1px solid #e5e7eb;
  left: 0;
  top: 40%;
}
