.sidebar[aria-expanded="false"] > .responsive-menu > ul > li > ul {
  display: none;
}

.responsive-menu > ul > li {
  display: flex;
  flex-direction: column;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

.sub-menu > li {
  transition: all 0.3s ease;
}

.sub-menu > li > a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
  background: none !important;
  padding: 0.3rem 0;
}

.sub-menu > li :hover {
  font-weight: bold;
}

.sub-menu > li > a > span[role="label"] {
  transition: all var(--transition-duration) ease;
}

.sub-menu > li > a.active {
  font-weight: bold;
}

.sub-menu:hover {
  background: none !important;
}
