.tabbed-panel > div[role=tablist] > button {
  align-items: center;
  display: flex;
  gap: 1rem;
  width: max-content;
}

.tabbed-panel > div[role=tablist] > button i {
  color: var(--dz-secondary-color);
  font-weight: 500;
  font-size: 14px;
}

.tabbed-panel > div > button.active i {
  color: var(--dz-primary-color);
}
