.tabbed-panel > div[role="tabpanel"] {
  width: 100%;
  padding: 1rem 0;
}

.tabbed-panel > div > button {
  align-items: center;
  background: none;
  border: none;
  border:  var(--tab-border, 1px solid transparent);
  cursor: pointer;
  display: flex;
  outline: 0;
  padding: var(--tab-padding, 1rem);
  width: 100%;
  transition: border-color 200ms ease;
}

.tabbed-panel > div > button:focus-visible {
  outline-offset: -1px;
  outline: var(--tab-focus-outline, 1px solid #1c4786);
}

.tabbed-panel.top > div > button:not(.active):hover {
  border-bottom:  var(--dz-primary-color) 1px solid;
}

.tabbed-panel.bottom > div > button:not(.active):hover {
  border-top:  var(--dz-primary-color) 1px solid;
}

.tabbed-panel.left > div > button:not(.active):hover {
  border-right:  var(--dz-primary-color) 1px solid;
}

.tabbed-panel.right > div > button:not(.active):hover {
  border-left:  var(--dz-primary-color) 1px solid;
}

.tabbed-panel > div > button span {
  color: var(--dz-secondary-color);
  width: max-content;
}

.tabbed-panel > div > button img {
  height: var(--tab-icon-height, 16px);
  margin: var(--tab-icon-margin, 0 5px 0 0);
  object-fit: contain;
  width: var(--tab-icon-width, 16px);
}

.tabbed-panel > div > button.active > span {
  color: var(--dz-primary-color);
  font-weight: 500;
}
