.tabbed-panel > div[role=tablist] > button {
  align-items: center;
  display: flex;
  gap: 1rem;
  max-width: 250px;
}

.tabbed-panel > div[role=tablist] > button span {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tabbed-panel > div[role=tablist] > button i {
  color: var(--dz-secondary-color);
  font-weight: 500;
  font-size: 14px;
}

.tabbed-panel > div > button.active i {
  color: var(--dz-primary-color);
}

.tab-panel-content {
  display: none;
}

.tab-panel-content.active {
  display: block;
}
