.table-wrapper > .actions-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.table-wrapper > .table-container > table {
  table-layout: fixed;
  width: 100%;
  box-sizing: border-box;
}

.table-wrapper > .table-container > table th,
.table-wrapper > .table-container > table td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sticky-header.table-wrapper > .table-container > table > thead {
  position: sticky;
  top: 0;
}

.table-wrapper > .table-footer-wrapper > div:first-child > span {
  width: max-content;
}

.table-wrapper
  > .table-container
  > table
  > thead
  > tr:not(:last-child)
  > th
  > div
  > button {
  display: none;
}

.table-wrapper > .table-container > table > thead > tr:last-child > th > div {
  align-items: center;
  cursor: pointer;
  display: flex;
  user-select: none;
  width: 100%;
}

.table-wrapper > .table-container > table > thead > tr > th > div.disable-sort {
  cursor: auto;
}

.table-wrapper > .table-container > table > thead > tr > th > div > button,
.table-wrapper
  > .table-container
  > table
  > thead
  > tr
  > th
  > div
  > div
  > button {
  all: unset;
  opacity: 0;
  transition: var(
    --column-btn-fade-in-transition,
    visibility 0s linear 300ms,
    opacity 300ms
  );
  visibility: hidden;
}

.table-wrapper
  > .table-container
  > table
  > thead
  > tr
  > th:hover
  > div
  > button,
.table-wrapper
  > .table-container
  > table
  > thead
  > tr
  > th:hover
  > div
  > div
  > button {
  all: unset;
  opacity: 1;
  transition: var(
    --column-btn-fade-out-transition,
    visibility 0s linear 0s,
    opacity 300ms
  );
  visibility: visible;
}

.table-wrapper
  > .table-container
  > table
  > thead
  > tr:last-child
  > th
  > div
  > div
  > div {
  margin: var(--filter-margin, 5px 0 0 0);
  padding: var(--filter-padding, 8px);
  position: absolute;
  z-index: var(--filter-z-index, 1000);
}

.table-wrapper
  > .table-container
  > table
  > thead
  > tr:last-child
  > th:last-child
  > div
  > div
  > div {
  margin: var(--filter-margin-last-item, 0 0 0 -100px);
}

.table-wrapper > .table-footer-wrapper > div:first-child,
.table-wrapper > .table-footer-wrapper > div:first-child > div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.table-wrapper > .table-footer-wrapper > div:first-child > div > span {
  width: max-content;
}

.table-wrapper > .table-footer-wrapper > div:last-child > button {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: var(--pagination-btn-transition, 0.3s);
}

.table-wrapper > .table-footer-wrapper > div:last-child > button[disabled] {
  cursor: not-allowed;
}

.table-wrapper > .table-footer-wrapper > div:last-child {
  align-items: center;
  display: flex;
}

.table-wrapper > .table-footer-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table-wrapper > .table-container {
  display: block;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.table-wrapper.sticky-header > .table-container {
  overflow-y: scroll;
}

.table-wrapper.hide-scrollbar > .table-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table-wrapper.hide-scrollbar > .table-container::-webkit-scrollbar {
  display: none;
}

.filter-form-wrapper {
  color: var(--filter-wrapper-color, #000);
  background-color: var(--filter-wrapper-background-color, #fff);
}

@media screen and (max-width: 600px) {
  .table-wrapper > .table-container > table > thead > tr:first-child {
    display: block;
  }

  /* hide grouping headers */
  .table-wrapper > .table-container > table > colgroup > col:not(:first-child) {
    display: none;
  }

  .table-wrapper > .table-container > table > thead > tr:first-child > th {
    border: 0;
    padding: 0;
  }

  .table-wrapper
    > .table-container
    > table
    > thead
    > tr:first-child
    > th
    > button {
    all: unset;
    cursor: pointer;
    display: flex;
  }

  .table-wrapper
    > .table-container
    > table
    > thead
    > tr:last-child
    > th:last-child
    > div
    > div
    > div {
    margin: var(--filter-margin-last-item, 0);
  }

  .table-wrapper > .table-container > table > thead > tr:not(:first-child) {
    display: none;
  }

  .table-wrapper > .table-container > table > thead.active > tr:last-child {
    display: flex;
    flex-direction: column;
  }

  .table-wrapper > .table-container > table > thead > tr > th,
  .table-wrapper > .table-container > table > tbody > tr > td {
    width: 100% !important; /* override column size from props */
  }

  .table-wrapper > .table-container > table > tbody > tr {
    display: block;
  }

  .table-wrapper > .table-container > table td {
    border-bottom: none;
    display: block;
    text-align: right;
  }

  .table-wrapper > .table-container > table td::before {
    content: attr(data-label);
    float: left;
  }
}

.table-tooltip {
  max-width: 22rem;
}

.p-datatable .p-datatable-tbody > tr {
  max-height: 2.2rem;
}

.p-datatable .p-datatable-tbody > tr td {
  max-height: inherit;
}
