.tabbed-panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.tabbed-panel.bottom {
  flex-direction: column-reverse;
}

.tabbed-panel.left {
  flex-direction: row;
}

.tabbed-panel.right {
  flex-direction: row-reverse;
}

.tabbed-panel > div[role="tablist"] {
  display: flex;
  flex-direction: column;
  height: max-content;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabbed-panel.bottom > div[role="tablist"],
.tabbed-panel.top > div[role="tablist"] {
  flex-direction: row;
  overflow-x: auto;
}

.tabbed-panel.top > div[role="tablist"] {
  border-bottom:  var(--tab-border, 1px solid #ddd);
}

.tabbed-panel.bottom > div[role="tablist"] {
  border-top:  var(--tab-border, 1px solid #ddd);
}

.tabbed-panel.left > div[role="tablist"] {
  border-right:  var(--tab-border, 1px solid #ddd);
  margin-right: 1rem;
}

.tabbed-panel.right > div[role="tablist"] {
  border-left:  var(--tab-border, 1px solid #ddd);
}

.tabbed-panel > div[role="tablist"] > button {
  width: max-content;
}

.tabbed-panel.left > div[role="tablist"] {
  align-items: flex-start;
}

.tabbed-panel.left > div[role="tablist"] > button,
.tabbed-panel.right > div[role="tablist"] > button {
  width: 100%;
}

.tabbed-panel.top > div[role="tablist"] > button.active {
  border-bottom: var(--dz-primary-color) 1px solid;
}

.tabbed-panel.bottom > div[role="tablist"] > button.active {
  border-top: var(--dz-primary-color) 1px solid;
}

.tabbed-panel.left > div[role="tablist"] > button.active {
  border-right: var(--dz-primary-color) 1px solid;
}

.tabbed-panel.right > div[role="tablist"] > button.active {
  border-left: var(--dz-primary-color) 1px solid;
}
