.tabbed-panel {
  --_tab-border: var(--tab-border, 1px solid #ddd);
  --_tab-active-border: var(--tab-active-border, 1px solid #007aff);
  --_tab-hover-border: var(--tab-hover-border, 1px solid #007aff);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.tabbed-panel.bottom {
  flex-direction: column-reverse;
}

.tabbed-panel.left {
  flex-direction: row;
}

.tabbed-panel.right {
  flex-direction: row-reverse;
}

.tabbed-panel > div[role="tablist"] {
  display: flex;
  flex-direction: column;
  height: max-content;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabbed-panel.bottom > div[role="tablist"],
.tabbed-panel.top > div[role="tablist"] {
  flex-direction: row;
  overflow-x: auto;
}

.tabbed-panel.top > div[role="tablist"] {
  border-bottom:  var(--_tab-border);
}

.tabbed-panel.bottom > div[role="tablist"] {
  border-top:  var(--_tab-border);
}

.tabbed-panel.left > div[role="tablist"] {
  border-right:  var(--_tab-border);
  margin-right: 1rem;
}

.tabbed-panel.right > div[role="tablist"] {
  border-left:  var(--_tab-border);
}

.tabbed-panel > div[role="tablist"] > button {
  width: max-content;
}

.tabbed-panel.left > div[role="tablist"] {
  align-items: flex-start;
}

.tabbed-panel.left > div[role="tablist"] > button,
.tabbed-panel.right > div[role="tablist"] > button {
  width: 100%;
}

.tabbed-panel.top > div[role="tablist"] > button.active {
  border-bottom: var(--_tab-active-border);
}

.tabbed-panel.bottom > div[role="tablist"] > button.active {
  border-top: var(--_tab-active-border);
}

.tabbed-panel.left > div[role="tablist"] > button.active {
  border-right: var(--_tab-active-border);
}

.tabbed-panel.right > div[role="tablist"] > button.active {
  border-left: var(--_tab-active-border);
}

.tabbed-panel.top > div[role="tablist"] > button:not(.active):hover {
  border-bottom:  var(--_tab-hover-border);
}

.tabbed-panel.bottom > div[role="tablist"] > button:not(.active):hover {
  border-top: var(--_tab-hover-border);
}

.tabbed-panel.left > div[role="tablist"] > button:not(.active):hover {
  border-right:  var(--_tab-hover-border);
}

.tabbed-panel.right > div[role="tablist"] > button:not(.active):hover {
  border-left:  var(--_tab-hover-border);
}
