.tabbed-panel {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.tabbed-panel.bottom {
  flex-direction: column-reverse;
}

.tabbed-panel > div[role="tablist"] {
  border-bottom:  var(--tab-border, 1px solid #ddd);
  display: flex;
  flex-direction: column;
  height: max-content;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabbed-panel.bottom > div[role="tablist"],
.tabbed-panel.top > div[role="tablist"] {
  flex-direction: row;
  overflow-x: auto;
}

.tabbed-panel.bottom > div[role="tablist"]::-webkit-scrollbar,
.tabbed-panel.top > div[role="tablist"]::-webkit-scrollbar {
  display: none;
}

.tabbed-panel.left {
  flex-direction: row;
}

.tabbed-panel > div[role="tablist"] > button {
  width: max-content;
}

.tabbed-panel.left > div[role="tablist"] {
  align-items: flex-start;
}

.tabbed-panel.left > div[role="tablist"] > button.active {
  border-right: var(--tab-active-border);
}

.tabbed-panel.right {
  flex-direction: row-reverse;
}

.tabbed-panel.right > div[role="tablist"] > button.active {
  border-left: var(--tab-active-border);
}

.tabbed-panel.left > div[role="tablist"] > button,
.tabbed-panel.right > div[role="tablist"] > button {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .tabbed-panel {
    width: 100%;
  }
}
