.dz-tag {
  --_tag-color: var(--dz-tag-color, #4a4747);
  align-items: center;
  border-radius: 5px;
  color: var(--_tag-color);
  display: inline-flex;
  gap: 0.25rem;
  justify-content: center;
  padding: 0.25rem 0.5rem;
}

.dz-tag.rounded {
  border-radius: 25px;
  padding: 0.25rem 0.6rem;
}
