/* Table variables */

:root {
  --dz-table-border: 1px solid rgb(226, 226, 226);
  --dz-table-header-bg: #f0f2f7ad;
  --dz-table-overlay-bg: rgba(255, 255, 255, 0.6);
  --dz-table-header-active-bg: rgb(232, 240, 255);
  --dz-table-row-hover-bg: #318aff0f;
  --dz-table-column-padding: 0.8rem;
  --dz-table-row-selected-bg: rgb(240, 245, 255);
  --dz-table-body-bg: transparent;
  --dz-table-stripe-color: transparent;
  --dz-table-actions-column-width: 4rem;
}

/* Tanstack table class definitions */

.dz-table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.dz-table-container > span {
  font-weight: bold;
  text-align: center;
  padding: 0.2rem 0;
  margin: 0;
  font-size: 1rem;
}

.dz-table-container > span[data-align="left"] {
  text-align: left;
}

.dz-table-container > span[data-align="right"] {
  text-align: right;
}

.dz-table-container .loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: var(--dz-table-overlay-bg);
}

.dz-table-container .toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background: var(--dz-table-header-bg);
  padding: var(--dz-table-column-padding);
}

.dz-table-container .table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.dz-table-container .table-wrapper > table {
  min-width: 100%;
  border-collapse: collapse;
}

.dz-table-container .table-wrapper > table > tbody {
  background: var(--dz-table-body-bg);
}

.dz-table-container .toolbar,
.dz-table-container .table-wrapper > table,
.dz-table-container .table-wrapper > table tr,
.dz-table-container .table-wrapper > table > tbody > tr > td,
.dz-table-container .table-wrapper > table > thead > tr > th,
.dz-table-container .pagination {
  border: var(--dz-table-border);
}

.dz-table-container .pagination {
  border-top: none;
}

.dz-table-container .toolbar {
  border-bottom: none;
}

.dz-table-container .table-wrapper > table > tbody > tr > td,
.dz-table-container .table-wrapper > table > thead > tr > th {
  overflow: hidden;
}

.dz-table-container .table-wrapper > table tr > td[data-align="center"] > * {
  margin: auto;
}

.dz-table-container .table-wrapper > table tr > th {
  text-align: left;
}

.dz-table-container .table-wrapper > table tr > td[data-align="center"],
.dz-table-container .table-wrapper > table tr > th[data-align="center"] {
  text-align: center;
}

.dz-table-container .table-wrapper > table tr > td[data-align="right"] {
  text-align: right;
  padding-right: 2rem;
}

.dz-table-container .table-wrapper > table tr > th[data-align="right"] {
  text-align: center;
}

.dz-table-container .table-wrapper > table tr > th.sortable {
  cursor: pointer;
}

.dz-table-container .table-wrapper > table tr > th .sort-state i {
  font-size: 0.7rem !important;
  font-weight: bold !important;
}

.dz-table-container .table-wrapper > table tr > th.sortable:active {
  background: var(--dz-table-header-active-bg);
}

.dz-table-container .table-wrapper > table tr > th.highlight,
.dz-table-container .table-wrapper > table tr > td.highlight {
  background: var(--dz-table-header-active-bg);
}

.dz-table-container .table-wrapper > table > tbody > tr:nth-child(even) {
  background: var(--dz-table-stripe-color);
}

.dz-table-container .table-wrapper > table > tbody > tr[data-selected="true"] {
  background: var(--dz-table-row-selected-bg) !important;
}

.dz-table-container
  .table-wrapper
  > table
  > tbody
  > tr[data-selected="true"]:hover,
.table-wrapper > table > tbody > tr:hover {
  background: var(--dz-table-row-hover-bg) !important;
  transition: background var(--transition-duration) ease;
}

.table-wrapper > table .header-row {
  background: var(--dz-table-header-bg);
  font-size: 1rem;
}

.table-wrapper > table tr.filters > th > input {
  width: 100%;
  min-width: 7rem;
  font-weight: normal;
  background: #ffffff;
}

.dz-table-container .table-wrapper > table > tbody > tr > td,
.dz-table-container .table-wrapper > table > thead > tr > th {
  padding: var(--dz-table-column-padding);
}

.dz-table-container .table-wrapper > table > thead > tr > th.column-actions,
.dz-table-container .table-wrapper > table > thead > tr > th.column-select {
  width: var(--dz-table-actions-column-width);
  max-width: var(--dz-table-actions-column-width);
  min-width: var(--dz-table-actions-column-width);
}

.dz-table-container .pagination .page-input-control input {
  background: #ffffff;
}
