/* Table variables */

:root {
  --table-border: 1px solid rgb(226, 226, 226);
  --table-header-bg-color: #f0f2f7ad;
  --table-header-active-bg-color: rgb(232, 240, 255);
  --table-row-hover-bg-color: #318aff0f;
  --table-column-padding: 0.8rem;
  --table-row-selected-bg-color: rgb(240, 245, 255);
  --table-text-color: rgb(78, 78, 78);
  --table-stripe-color: #0064ff08;
  --table-primary-color: var(--dz-primary-color);
  --table-success-color: var(--dz-success-color);
}

/* Tanstack table class definitions */

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--table-text-color);
  position: relative;
}

.table-container .title {
  font-weight: bold;
  text-align: center;
  padding: 0.2rem 0;
  margin: 0;
  font-size: 1rem;
}

.table-container .title[data-align="left"] {
  text-align: left;
}

.table-container .title[data-align="right"] {
  text-align: right;
}

.table-container .loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
}

.table-container .toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: var(--table-header-bg-color);
  padding: var(--table-column-padding);
}

.table-container .table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table-container .table-wrapper .table {
  min-width: 100%;
  border-collapse: collapse;
}

.table-container[data-border="grid"] .toolbar,
.table-container[data-border="grid"] .table-wrapper .table,
.table-container[data-border="grid"] .table-wrapper .table .trow,
.table-container[data-border="grid"] .table-wrapper .table .tcell,
.table-container[data-border="grid"] .table-wrapper .table .tcol-head,
.table-container[data-border="grid"] .pagination {
  border: var(--table-border);
}

.table-container[data-border="vertical"] .toolbar,
.table-container[data-border="vertical"] .pagination,
.table-container[data-border="vertical"] .table-wrapper .table .tcell,
.table-container[data-border="vertical"] .table-wrapper .table .tcol-head {
  border-left: var(--table-border);
  border-right: var(--table-border);
}

.table-container[data-border="horizontal"] .toolbar,
.table-container[data-border="horizontal"] .pagination,
.table-container[data-border="horizontal"] .table-wrapper .table .trow,
.table-container.toolbar {
  border: var(--table-border);
}

.table-container[data-border="horizontal"] .pagination,
.table-container[data-border="grid"] .pagination {
  border-top: none;
}

.table-container[data-border="horizontal"] .toolbar,
.table-container[data-border="grid"] .toolbar {
  border-bottom: none;
}

.table-container .table-wrapper .table .tcell,
.table-container .table-wrapper .table .tcol-head {
  overflow: hidden;
}

.table-container .table-wrapper .table .tcell > .content,
.table-container .table-wrapper .table .tcol-head > .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  text-overflow: ellipsis;
  gap: 0.2rem;
  text-align: left;
}

.table-container .table-wrapper .table .tcell .content > .primary {
  width: 5rem;
  background: var(--table-primary-color);
}

.table-container .table-wrapper .table .tcell .content > .success {
  width: 5rem;
  background: var(--table-success-color);
}

.table-container .table-wrapper .table .tcell .content > .p-button {
  color: var(--table-primary-color);
}

.table-container .table-wrapper .table .tcell[data-align="center"] > .content,
.table-container
  .table-wrapper
  .table
  .tcol-head[data-align="center"]
  > .content {
  justify-content: center;
  text-align: center;
}

.table-container .table-wrapper .table .tcell[data-align="right"] > .content,
.table-container
  .table-wrapper
  .table
  .tcol-head[data-align="right"]
  > .content {
  justify-content: flex-start;
  flex-direction: row-reverse;
  text-align: right;
}

.table-container .table-wrapper .table .tcol-head {
  cursor: pointer;
}

.table-container .table-wrapper .table .tcol-head .sort-state i {
  font-size: 0.7rem !important;
  font-weight: bold !important;
}

.table-container .table-wrapper .table .tcol-head:active {
  background-color: var(--table-header-active-bg-color);
}

.table-container .table-wrapper .table .tcol-head.highlight,
.table-container .table-wrapper .table .tcell.highlight {
  background-color: var(--table-header-active-bg-color);
}

.table-container
  .table-wrapper
  .table[data-stripe="even"]
  .tbody
  .trow:nth-child(even) {
  background-color: var(--table-stripe-color);
}

.table-container
  .table-wrapper
  .table[data-stripe="odd"]
  .tbody
  .trow:nth-child(odd) {
  background-color: var(--table-stripe-color);
}

.table-container .table-wrapper .table .tbody .trow[data-state="selected"] {
  background-color: var(--table-row-selected-bg-color) !important;
}

.table-container
  .table-wrapper
  .table
  .tbody
  .trow[data-state="selected"]:hover,
.table-wrapper .table .tbody .trow:hover {
  background-color: var(--table-row-hover-bg-color) !important;
}

.table-wrapper .table .header-row {
  background-color: var(--table-header-bg-color);
  font-size: 1rem;
}

.table-wrapper .table .trow.filters .content input {
  width: 100%;
  min-width: 7rem;
  font-weight: normal;
}

.table-container .table-wrapper .table .tcell,
.table-container .table-wrapper .table .tcol-head {
  padding: var(--table-column-padding);
}
