.tooltip-container .tooltip {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: white;
  padding: 5px;
  position: absolute;
}

.tooltip-container {
  display:inline-block;
  position:relative;
}
