:root {
  --tooltip-color: #fff;
  --tooltip-bg-color: #555;
}

.tooltip-container {
  background-color: var(--tooltip-bg-color);
  border-radius: 0.25rem;
  color: var(--tooltip-color);
  padding: 0.25rem;
  position: absolute;
}

.tooltip-container.top::after {
  border-color: var(--tooltip-bg-color) transparent transparent transparent;
  border-style: solid;
  border-width: 0.25rem;
  content: "";
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 100%;
}

.tooltip-container.left::after {
  border-color: transparent transparent transparent var(--tooltip-bg-color);
  border-style: solid;
  border-width: 0.25rem;
  content: "";
  left:100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip-container.bottom::after {
  border-color: transparent transparent var(--tooltip-bg-color) transparent;
  border-style: solid;
  border-width: 0.25rem;
  bottom: 100%;
  content: "";
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.tooltip-container.right::after {
  border-color: transparent var(--tooltip-bg-color) transparent transparent;
  border-style: solid;
  border-width: 0.25rem;
  content: "";
  position: absolute;
  right:100%;
  transform: translateY(-50%);
  top: 50%;
}
