:root {
  --field-suggestion-bg-color: #ffffff;
}

.dz-typeahead {
  position: relative;
  width: 100%;  
}

.dz-typeahead > input {
  background-color: var(--dz-input-fill-color);
  border: 1px solid var(--field-border-color);
  border-radius: var(--field-border-radius);
  margin-top: 0.75rem;
  padding: 0.75rem 0.65rem;  
  width: 100%; 
}

.dz-typeahead > input:focus {
  border: 1px solid var(--field-focus-border-color);
}

.dz-typeahead .suggestions {
  background-color: var(--field-suggestion-bg-color);
  border: 1px solid var(--field-border-color);
  border-radius: var(--field-border-radius);
  padding: 0.75rem 0.65rem; 
  position: absolute;
  width: 100%;  
  z-index: 1000;
}

.dz-typeahead .suggestion {
  padding: 0.25rem 0;
}

.dz-typeahead .suggestion:hover {
  background-color: var(--field-option-hover-color);
  cursor: pointer;
} 

.dz-typeahead .suggestion:focus {
  background-color: var(--field-option-hover-color);
  outline: none;
}

.dz-typeahead .loading {
  position: absolute;
  right: 0;
  top: 50%;
}
