:root {
  --_field-error-message-color: var(--error-message-color);
  --field-suggestion-bg-color: #ffffff;
  --field-disabled-color: #f8f8f8;
}

.dz-typeahead {
  position: relative;
  width: 100%;
}

.dz-typeahead > .input-field-typeahead {
  background-color: var(--dz-input-fill-color);
  border: 1px solid var(--field-border-color);
  border-radius: var(--field-border-radius);
  margin-top: 0.75rem;
  position: relative;
  width: 100%;
}

.dz-typeahead > .input-field-typeahead:focus-within {
  outline: 2px solid var(--field-focus-border-color);
}

.dz-typeahead > .input-field-typeahead[aria-invalid="true"] {
  border-color: var(--field-invalid-border-color);
}

.dz-typeahead > .input-field-typeahead[aria-invalid="false"] {
  border-color: var(--field-valid-border-color);
}

.dz-typeahead > .input-field-typeahead > .debounced-input {
  background: transparent;
  border: none;
  border-radius: var(--field-border-radius);
  padding: 0.75rem 0.65rem;
  width: 90%;
}

.dz-typeahead > .input-field-typeahead > .debounced-input:disabled {
  background-color: var(--field-disabled-color);
}

.dz-typeahead > .input-field-typeahead > .debounced-input:focus {
  outline: none;
  box-shadow: none !important;
}

.dz-typeahead > .input-field-typeahead.disabled {
  background-color: var(--field-disabled-color);
}

.dz-typeahead > ul {
  background-color: var(--field-suggestion-bg-color);
  border: 1px solid var(--field-border-color);
  border-radius: var(--field-border-radius);
  padding: 0.75rem 0.65rem;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.dz-typeahead > ul > li {
  padding: 0.25rem 0;
}

.dz-typeahead > ul > li:hover {
  background-color: var(--field-option-hover-color);
  cursor: pointer;
}

.dz-typeahead > ul > li:focus {
  background-color: var(--field-option-hover-color);
  outline: none;
}

.dz-typeahead > .input-field-typeahead > .loading {
  position: absolute;
  right: 0;
  top: 50%;
}

.dz-typeahead .error-message {
  color: var(--_field-error-message-color);
  display: inline-block;
  font-size: 0.8em;
  margin-top: 0.75rem;
}
