.file-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-wrapper > div:first-child {
  width: 60%;
  display: flex;
  align-items: center;
}

.file-wrapper > div:first-child > i {
  font-size: 2rem;
  margin-right: 1rem;
}

.input-button-wrapper {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.input-button-wrapper > div {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
