:root {
  --color: rgb(84, 84, 84);
  --border-color: #b5b5b5;
  --error-message-color: var(--dz-danger-color);
  --error-message-font-size: 0.8em;
  --dz-alternate-color: #0284c7;
  --dz-danger-color: #dc3545;
  --dz-page-gap: 0.5rem;
  --dz-page-max-width: 400px;
  --dz-primary-color: #007aff;
  --dz-secondary-color: #475569;
  --dz-success-color: #22c55e;
  --dz-warning-color: #ea580c;
  --field-autofill-color: #ffffff;
  --field-background-color: var(--dz-primary-color);
  --field-border-color: #ccc;
  --field-border-radius: 0.25em;
  --field-bg-color-disabled: #f7f7f7;
  --field-focus-border-color: var(--dz-primary-color);
  --field-fill-color: transparent;
  --field-invalid-border-color: var(--dz-danger-color);
  --field-outline-color: var(--dz-primary-color);
  --field-padding-height: 0.5em;
  --field-valid-border-color: var(--dz-success-color);
  --menu-border-color: #555;
  --submit-button-bg-color: var(--dz-primary-color);
  --transition-duration: 300ms;
}
