:root {
  --border-color: #b5b5b5;
  --color: rgb(84, 84, 84);
  --data-caption-color: #333;
  --data-stat-padding-v: 0.5rem;
  --data-stat-padding-h: 0.75rem;
  --data-stat-min-width: 13rem;
  --dz-alternate-color: #0284c7;
  --dz-danger-color: #dc3545;
  --dz-input-fill-color: transparent;

  --dz-nav-item-active-bg: rgba(45, 45, 45, 0.125);
  --dz-nav-item-active-color: var(--dz-nav-item-color);
  --dz-nav-item-border-radius: 0;
  --dz-nav-item-color: #ffffff;
  --dz-nav-item-hover-bg: rgba(45, 45, 45, 0.125);
  --dz-nav-item-hover-color: var(--dz-nav-item-color);
  --dz-nav-item-padding-h: 1.5rem;
  --dz-nav-item-padding-v: 0.625rem;
  --dz-nav-menu-label-color: var(--dz-nav-item-color);
  --dz-nav-menu-padding-h: 0;
  --dz-nav-menu-padding-v: 1rem;
  --dz-nav-menu-separator-color: #dbdbdb;

  --dz-page-gap: 0.5rem;
  --dz-page-max-width: 550px;
  --dz-primary-color: #007aff;
  --dz-secondary-color: #475569;
  --dz-success-color: #22c55e;
  --dz-warning-color: #ea580c;
  --error-message-color: var(--dz-danger-color);
  --error-message-font-size: 0.8em;
  --field-autofill-color: #ffffff;
  --field-background-color: var(--dz-primary-color);
  --field-border-color: #ccc;
  --field-border-radius: 0.25em;
  --field-bg-color-disabled: #f7f7f7;
  --field-focus-border-color: var(--dz-primary-color);
  --field-invalid-border-color: var(--dz-danger-color);
  --field-outline-color: var(--dz-primary-color);
  --field-padding-height: 0.5em;
  --field-valid-border-color: var(--dz-success-color);
  --menu-border-color: #555;
  --submit-button-bg-color: var(--dz-primary-color);
  --transition-duration: 300ms;
}
