:root {
  --color: rgb(84,84,84);
  --input-autofill-color: #ffffff;
  --input-background-color: #007aff;
  --input-invalid-border-color: #dc3545;
  --input-outline-color: #007aff;
  --input-valid-border-color: #198754;
  --border-color: #b5b5b5;
  --error-message-color: #dc3545;
  --menu-border-color: #555;
  --transition-duration: 300ms;
  --dz-primary-color: #007aff;
  --dz-secondary-color: #475569;
  --dz-alternate-color: #0284c7;
  --dz-success-color: #22C55E;
  --dz-danger-color: #dc3545;
  --dz-warning-color: #EA580C;
}
