.sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 0px;
  padding-top: 60px;
  transition: width 0.25s ease-in-out;
  background: linear-gradient(180deg, #fc466b 0%, #3f5efb 100%);
}

.openSidebarMenu {
  width: 250px;
}
