.tab-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-list button {
  background-color: hsl(0deg 0% 90%);
  color: hsl(0deg 0% 13%);
  border: 1px solid hsl(0deg 0% 13%);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.tab-list .tab-title.active {
  background-color: #fff;
  color: #1c4786;
}

.tab-list .tab-title:focus {
  outline: 1px solid #1c4786;
  outline-offset: 1px;
}

.tab {
  padding: 1rem 0;
}
