:root {
  --footer-text-color: var(--dz-layout-footer-text-color);
  --footer-background-color: var(--dz-layout-footer-background);
  --footer-height: var(--dz-layout-footer-height);
}

.footer-wrapper .footer-content {
    align-items: center;
    background-color: var(--footer-background-color);
    bottom: 0;
    color: var(--footer-text-color);
    cursor: pointer;
    display: flex;
    height: var(--footer-height);
    justify-content: space-between;
    left: 0;
    position: fixed;
    padding: 10px;
    right: 0;
    width: 100%;
}
