.footer-wrapper .footer-content {
    align-items: center;
    background-color: var(--dz-layout-sticky-footer-background);
    bottom: -100px;
    color: var(--dz-layout-sticky-footer-color);
    cursor: pointer;
    display: flex;
    height: var(--dz-layout-sticky-footer-height);
    justify-content: space-between;
    left: 0;
    position: fixed;
    padding: 10px;
    transition: bottom 0.3s ease-in-out;
    width: 100%;
}

.footer-placeholder {
    background: transparent;
    bottom: 0;
    height: var(--dz-layout-sticky-footer-height);;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.footer-placeholder:hover + .footer-content {
    bottom: 0;
}
