.sticky-collapsible-footer-container .footer {
  background-color: #fff;
  border-top: 1px solid #dbdbdb;
  bottom: -100px;
  cursor: pointer;
  left: 0;
  position: fixed;
  padding: 1rem;
  right: 0;
  transition: bottom 0.3s ease-in-out;
  width: 100%;
}

.sticky-collapsible-footer-placeholder {
  background: transparent;
  bottom: 0;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.sticky-collapsible-footer-placeholder:hover+.footer {
  bottom: 0;
}
