.sticky-collapsible-footer-container .footer {
    align-items: center;
    background-color: #fff;
    bottom: -100px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    left: 0;
    position: fixed;
    padding: 10px;
    right: 0;
    transition: bottom 0.3s ease-in-out;
    width: 100%;
}

.sticky-collapsible-footer-placeholder {
    background: transparent;
    bottom: 0;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.sticky-collapsible-footer-placeholder:hover + .footer {
    bottom: 0;
}
