.footer-wrapper .footer-content {
    align-items: center;
    background-color: var(--dz-layout-sticky-footer-background);
    bottom: 0;
    color: var(--dz-layout-sticky-footer-color);
    cursor: pointer;
    display: flex;
    height: var(--dz-layout-sticky-footer-height);
    justify-content: space-between;
    left: 0;
    position: fixed;
    padding: 10px;
    right: 0;
    width: 100%;
}
