:root {
  --dz-layout-logo-max-height: 40px;

  --dz-layout-sidebar-bg: #007aff;
  --dz-layout-sidebar-border: none;
  --dz-layout-sidebar-color: #ffffff;
  --dz-layout-sidebar-logo-max-width: var(
    var(--dz-layout-logo-max-width),
    150px;
  );
  --dz-layout-sidebar-padding-h: 1.5rem;
  --dz-layout-sidebar-padding-v: 0.75rem;
  --dz-layout-sidebar-separator-color: #dbdbdb;
  --dz-layout-sidebar-width: 15rem;

  --dz-layout-nav-item-padding-h: 1.5rem;
  --dz-layout-nav-item-padding-v: 0.625rem;
  --dz-layout-nav-menu-padding-h: 0;
  --dz-layout-nav-menu-padding-v: 1rem;
  --dz-layout-nav-menu-separator-color: #dbdbdb;

  /* defaults for sidebar */
  --dz-layout-nav-item-hover-bg: rgba(45, 45, 45, 0.125);
  --dz-layout-nav-item-active-bg: rgba(45, 45, 45, 0.125);
  --dz-layout-nav-item-color: #ffffff;
  --dz-layout-nav-item-hover-color: var(--dz-layout-nav-item-color);
  --dz-layout-nav-item-active-color: var(--dz-layout-nav-item-color);
  --dz-layout-nav-menu-label-color: var(--dz-layout-nav-item-color);

  /* uncomment for header */
  /* --dz-layout-nav-item-active-bg: transparent;
  --dz-layout-nav-item-hover-bg: transparent;
  --dz-layout-nav-item-color: rgb(84, 84, 84);
  --dz-layout-nav-item-hover-color: rgb(84, 84, 84);
  --dz-layout-nav-item-active-color: rgb(84, 84, 84);
  --dz-layout-nav-menu-label-color: rgb(84, 84, 84); */

  --dz-layout-main-bg: #ffffff;
  --dz-layout-main-padding-h: 1rem;
  --dz-layout-main-padding-v: 1.5rem;

  --dz-layout-header-bg: transparent;
  --dz-layout-header-border: 1px solid #dbdbdb;
  --dz-layout-header-color: rgb(84, 84, 84);
  --dz-layout-header-gap: 1.5rem;
  --dz-layout-header-logo-max-width: 150px;
  --dz-layout-header-max-width: 1920px;
  --dz-layout-header-padding-h: var(--dz-layout-main-padding-h, 1rem);
  --dz-layout-header-padding-v: 1rem;
}

@media screen and (min-width: 576px) {
  :root {
    --dz-layout-main-padding-h: 2rem;
    --dz-layout-main-padding-v: 2.5rem;

    --dz-layout-sidebar-padding-v: 1rem;
  }
}
