.layout.basic {
  --_layout-basic-max-width: var(--layout-max-width, 60rem);
  --_layout-basic-padding-h: var(--layout-padding-h, 1em);

  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.layout.basic > :is(footer, header, main) {
  margin: 0 auto;
  max-width: var(--_layout-basic-max-width);
  padding-left: var(--_layout-basic-padding-h);
  padding-right: var(--_layout-basic-padding-h);
  width: 100%;
}

.layout.basic > main {
  flex: 1;
}

@media screen and (min-width: 60rem) {
  .layout.basic > :is(footer, header, main) {
    padding-left: 0;
    padding-right: 0;
  }
}
