.layout.collapsible {
  --_layout-collapsible-gap: var(--layout-gap, 0);
  --_layout-collapsible-max-width: var(--layout-max-width, 100%);
  --_layout-collapsible-padding-h: var(--layout-padding-h, 0.5em);

  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: var(--_layout-collapsible-gap);
}

.layout.collapsible :is(footer, header, main) {
  max-width: var(--_layout-collapsible-max-width);
  padding-left: var(--_layout-collapsible-padding-h);
  padding-right: var(--_layout-collapsible-padding-h);
  width: 100%;
}

.layout.collapsible > main {
  flex: 1;
  padding-top: var(--_layout-collapsible-padding-h);
  padding-bottom: var(--_layout-collapsible-padding-h);
}

.layout.collapsible > .fixed-layout {
  height: calc(100vh - 135px);
  overflow-y: scroll;
}

@media screen and (min-width: 576px) {
  .layout.collapsible > header {
    grid-area: header;
  }

  .layout.collapsible > .sidebar {
    grid-area: menu;
  }

  .layout.collapsible > main {
    grid-area: main;
  }

  .layout.collapsible > footer {
    grid-area: footer;
  }

  .layout.collapsible {
    display: grid;
    grid-template-areas:
      "header header header header"
      "menu main main main "
      "footer footer footer footer ";
    gap: var(--_layout-collapsible-gap);
    grid-template-rows: auto 1fr auto;
    grid-template-columns: max-content 1fr;
  }

  .layout.collapsible > header > .menu-container {
    grid-template-columns: auto;
  }
}
