.collapsible-layout > header {
  grid-area: header;
}

.collapsible-layout > .sidebar-menu {
  grid-area: menu;
}

.collapsible-layout > main {
  grid-area: main;
}

.collapsible-layout > footer {
  grid-area: footer;
}

.collapsible-layout {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header header"
    "menu main main main "
    "footer footer footer footer ";
  gap: var(--basic-layout-gap, 0);
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: max-content 1fr;
}

.collapsible-layout :is(footer, header, main) {
  max-width: var(--max-width, 100%);
  padding: var(--padding-v, 0.8rem) var(--padding-h, 0.8rem);
  width: 100%;
}

.collapsible-layout > header > .menu-container {
  grid-template-columns: auto;
}

@media screen and (max-width: 575px) {
  .collapsible-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--basic-layout-gap, 0);
  }

  .collapsible-layout > main {
    flex: 1;
  }
}
