.dz-layout.sidebar-header {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  width: 100%;
}

.dz-layout.sidebar-header > header {
  display: none;
}

.dz-layout.sidebar-header > aside {
  grid-area: header;
}

.dz-layout.sidebar-header > main {
  grid-area: main;
  max-width: 100%;
  min-width: 100%;
}

@media screen and (min-width: 576px) {
  .dz-layout.sidebar-header {
    grid-template-areas:
      "sidebar header"
      "sidebar main";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100dvh;
  }

  .dz-layout.sidebar-header > header {
    display: unset;
    grid-area: header;
  }

  .dz-layout.sidebar-header > aside {
    grid-area: sidebar;
  }

  .dz-layout.sidebar-header > main {
    grid-area: main;
    overflow-y: auto;
  }

  .dz-layout.sidebar-header > header > .header-container {
    display: flex;
    justify-content: flex-end;
  }

  .dz-layout.sidebar-header
    > aside
    > .navigation-menu
    > div[data-nav-menu-id="user-menu"],
  .dz-layout.sidebar-header
    > aside
    > .navigation-menu
    > div[data-nav-menu-id="auth-menu"],
  .dz-layout.sidebar-header > aside > .sidebar-footer > .locale-switcher {
    display: none;
  }

  .dz-layout.sidebar-header
    > header
    > .header-container
    > .header-menu
    > .user-menu {
    cursor: pointer;
  }

  .dz-layout.sidebar-header
    > header
    > .header-container
    > .header-menu
    > .user-menu
    > span {
    align-items: center;
    display: flex;
    gap: 0.25rem;
  }

  .dz-layout.sidebar-header
    > header
    > .header-container
    > .header-menu
    > .user-menu
    > span:hover {
    text-decoration: underline;
  }
}
