.dz-header-layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

.dz-header-layout > header {
  --_layout-header-padding-h: var(--_layout-main-padding-h);

  grid-area: header;
}

.dz-header-layout > header > .dz-header-container > .dz-toggle-menu {
  margin-right: -0.75rem;
}

.dz-header-layout > main {
  grid-area: main;
  max-width: 100%;
  min-width: 100%;
}

.dz-header-layout > footer {
  grid-area: footer;
}
