.dz-layout.header {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

.dz-layout.header > header {
  --_layout-header-padding-h: var(--_layout-main-padding-h);

  grid-area: header;
}

.dz-layout.header > main {
  grid-area: main;
  max-width: 100%;
  min-width: 100%;
}

.dz-layout.header > footer {
  grid-area: footer;
}
