.dz-layout.dz-sidebar-header-layout {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  width: 100%;
}

.dz-layout.dz-sidebar-header-layout > header {
  display: none;
}

.dz-layout.dz-sidebar-header-layout > .dz-sidebar {
  grid-area: header;
}

.dz-layout.dz-sidebar-header-layout > .dz-sidebar > .dz-user-menu {
  display: none;
}

.dz-layout.dz-sidebar-header-layout > main {
  grid-area: main;
  max-width: 100%;
  min-width: 100%;
}

@media screen and (min-width: 576px) {
  .dz-layout.dz-sidebar-header-layout {
    grid-template-areas:
      "sidebar header"
      "sidebar main";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100dvh;
  }

  .dz-layout.dz-sidebar-header-layout > header {
    display: unset;
    grid-area: header;
  }

  .dz-layout.dz-sidebar-header-layout > .dz-sidebar {
    grid-area: sidebar;
  }

  .dz-layout.dz-sidebar-header-layout > .dz-sidebar > .dz-user-menu {
    display: flex;
  }

  .dz-layout.dz-sidebar-header-layout > main {
    grid-area: main;
    overflow-y: auto;
  }

  .dz-layout.dz-sidebar-header-layout > header > .dz-header-container {
    display: flex;
    justify-content: flex-end;
  }

  .dz-layout.dz-sidebar-header-layout
    > .dz-sidebar
    > .dz-navigation-menu
    > div[data-nav-menu-id="dz-user-menu"],
  .dz-layout.dz-sidebar-header-layout
    > .dz-sidebar
    > .dz-sidebar-footer
    > .dz-locale-switcher {
    display: none;
  }
}
