.dz-layout.sidebar-only {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  width: 100%;
}

.dz-layout.sidebar-only > .dz-sidebar {
  grid-area: header;
}

.dz-layout.sidebar-only > .dz-sidebar > .user-menu {
  display: none;
}

.dz-layout.sidebar-only > main {
  grid-area: main;
  max-width: 100%;
  min-width: 100%;
}

@media screen and (min-width: 576px) {
  .dz-layout.sidebar-only {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: auto 1fr;
    height: 100dvh;
  }

  .dz-layout.sidebar-only > .dz-sidebar {
    grid-area: sidebar;
  }

  .dz-layout.sidebar-only > main {
    overflow-y: auto;
  }

  /* Popup user-menu styles */
  .dz-layout.sidebar-only > .dz-sidebar > .user-menu {
    display: unset;
  }

  .dz-layout.sidebar-only > .dz-sidebar > .user-menu > .popup-trigger {
    padding: var(--_layout-sidebar-padding-v) var(--_layout-sidebar-padding-h);
    display: block;
  }

  .dz-layout.sidebar-only > .dz-sidebar > .user-menu > .popup-trigger:hover {
    background: var(--dz-layout-nav-item-hover-bg, rgba(45, 45, 45, 0.125));
    color: var(--dz-layout-nav-item-hover-color, #ffffff);
  }

  .dz-layout.sidebar-only
    > .dz-sidebar
    > .user-menu
    > .popup-trigger
    .dz-dropdown-menu-trigger {
    display: flex;
    justify-content: space-between;
  }

  .dz-layout.sidebar-only
    > .dz-sidebar
    > .user-menu
    > .popup-trigger
    .dz-dropdown-menu-trigger:hover {
    text-decoration: none;
  }

  .dz-layout.sidebar-only.popup-user-menu
    > .dz-sidebar
    > .navigation-menu
    > div[data-nav-menu-id="user-menu"] {
    display: none;
  }
}
