.dz-sidebar-header-layout {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  width: 100%;
}

.dz-sidebar-header-layout > header {
  display: none;
}

.dz-sidebar-header-layout > .dz-sidebar {
  grid-area: header;
}

.dz-sidebar-header-layout > main {
  grid-area: main;
  max-width: 100%;
  min-width: 100%;
}

.dz-sidebar-header-layout[data-user-menu-location="sidebar"]
  > .dz-sidebar
  > .dz-user-menu {
  padding: 0.5rem 0;
}

@media screen and (min-width: 576px) {
  .dz-sidebar-header-layout {
    grid-template-areas:
      "header header"
      "sidebar main";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100dvh;
  }

  .dz-sidebar-header-layout > header {
    display: unset;
    grid-area: header;
  }

  .dz-sidebar-header-layout > header > .dz-header-container > .dz-toggle-menu {
    display: block;
  }

  .dz-sidebar-header-layout > .dz-sidebar {
    grid-area: sidebar;
  }

  .dz-sidebar-header-layout > .dz-sidebar > .dz-sidebar-header {
    display: none;
  }

  .dz-sidebar-header-layout > main {
    grid-area: main;
    overflow-y: auto;
  }

  .dz-sidebar-header-layout > header > .dz-header-container {
    display: flex;
  }

  /* user-menu-location --> header */
  .dz-sidebar-header-layout[data-user-menu-location="header"]
    > .dz-sidebar
    > .dz-user-menu,
  .dz-sidebar-header-layout
    > .dz-sidebar
    > .dz-sidebar-footer
    > .dz-locale-switcher {
    display: none;
  }

  /* user-menu-location --> sidebar */
  .dz-sidebar-header-layout[data-user-menu-location="sidebar"]
    > header
    .dz-header-menu
    > .dz-user-menu {
    display: none;
  }

  .dz-sidebar-header-layout
    > .dz-sidebar
    > .dz-user-menu.collapsible
    > .dz-group-header
    .dz-nav-group-toggle {
    transform: rotate(-90deg);
  }

  .dz-sidebar-header-layout
    > .dz-sidebar
    > .dz-user-menu.collapsible[aria-expanded="true"]
    > .dz-group-header
    .dz-nav-group-toggle {
    transform: rotate(90deg);
  }
}
