.dz-nav-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0;
}

.dz-nav-group > .dz-nav-header {
  color: var(--dz-layout-nav-item-color, #ffffff);
  padding: var(--dz-layout-nav-item-padding-v, 0.625rem)
    var(--dz-layout-nav-item-padding-h, 1rem);
}

.dz-nav-group > .dz-group-submenu {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-height: 0;
  animation: expand 120ms ease;
  transition: max-height 0.4s ease-in-out;
}

.dz-nav-group[aria-expanded="true"] > .dz-group-submenu {
  max-height: 500px;
}

.dz-nav-group .dz-group-submenu > li {
  width: 100%;
}

.dz-nav-group ul li .dz-nav-item {
  padding-left: calc(1.75 * var(--_nav-item-padding-h));
}

.dz-nav-group .dz-group-submenu > li .dz-nav-item {
  display: flex;
}

.dz-nav-group .dz-nav-group-toggle {
  transition: transform 0.3s ease-in;
}

.dz-nav-group > .dz-nav-item .dz-nav-group-toggle {
  transform: rotate(90deg);
}

.dz-nav-group[aria-expanded="true"] > .dz-nav-item .dz-nav-group-toggle {
  transform: rotate(-90deg);
}

@keyframes expand {
  0% {
    opacity: 0;
    transform: translateY(-12px);
  }
  25% {
    opacity: 0.5;
    transform: translateY(0px);
  }
  75% {
    opacity: 0.75;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
