.dz-nav-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0;
}

.dz-nav-group > .dz-submenu {
  display: none;
  align-items: start;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0;
  animation: expand 120ms ease;
}

.dz-nav-group[aria-expanded="true"] > .dz-submenu {
  display: flex;
}

.dz-nav-group ul li .dz-nav-item {
  padding-left: calc(1.75 * var(--_nav-item-padding-h));
}

.dz-nav-group .dz-submenu > li {
  width: 100%;
}

.dz-nav-group .dz-nav-group-toggle {
  transition: transform 120ms linear;
}

.dz-nav-group[aria-expanded="true"] > .dz-nav-item .dz-nav-group-toggle {
  transform: rotate(90deg);
}
