.loading-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-container > .loading {
  color: black;
}

.loading-overlay {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
  justify-content: center;
  align-items: center;
}

.loading-overlay > .loading {
  color: var(--loading-icon-color, #ffffff);
}
