:root {
  --tag-primary-color: var(--dz-primary-color);
  --tag-success-color: var(--dz-success-color);
}
.p-tag-info {
  background-color: var(--tag-primary-color) !important;
}

.p-tag-success {
  background-color: var(--tag-success-color) !important;
}
