.card {
  align-items: center;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #535353;
  cursor: pointer;
  display: flex;
  margin: 5px 0;
  padding: 10px 30px;
}

.card:hover {
  color: unset;
  background-color: aliceblue;
}
