button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.sticky-header table {
  position: relative;
}

table caption {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: left;
}

tbody {
  border-bottom: 1px solid lightgray;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

th,
td {
  border: 1px solid lightgray;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th > div > span {
  font-size: 1rem;
  font-weight: 600;
  width: max-content;
}

.sticky-header thead {
  position: sticky;
  top: 0;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

.current-page-info {
  font-size: 18px;
  width: max-content;
}

.disable-select {
  cursor: pointer;
  display: flex;
  user-select: none;
  align-items: center;
}

.disable-select > button,
.filter-wrapper > button {
  opacity: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  height: 1rem;
  width: 1rem;
  transition: visibility 0s linear 300ms, opacity 300ms;
  visibility: hidden;
}

.disable-select:hover > button,
.disable-select:hover > .filter-wrapper > button {
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
  visibility: visible;
}

.disable-select > button,
.disable-select > button > img,
.filter-wrapper,
.filter-wrapper > button,
.filter-wrapper > button > img {
  width: 1rem;
  height: 1rem;
}

.filter-form-wrapper {
  background-color: #fff;
  border: solid 2px gray;
  margin-left: -40px;
  margin-top: 5px;
  padding: 8px;
  position: absolute;
  z-index: 1000;
}

.number-filter-form {
  display: flex;
  flex-direction: column;
}

.number-filter-form > *:not(:last-child) {
  margin-bottom: 4px;
}

.page-details {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.page-details > *:not(:last-child) {
  margin-right: 16px;
}

.page-controller {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.page-controller > *:not(:last-child) {
  margin-right: 8px;
}

.page-controller span {
  font-size: 18px;
  width: max-content;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  border: solid 1px gray;
  height: 32px;
  transition: 0.3s;
  width: 32px;
}

.pagination-button[disabled] {
  cursor: not-allowed;
  background-color: #e7e7e7;
}

.pagination-button:not[disabled]:hover {
  background-color: rgb(222, 222, 222);
}

.pagination-button > img {
  height: 1rem;
  width: 1rem;
}

.pagination-container {
  align-items: center;
  display: flex;
}

.pagination-container > *:not(:last-child) {
  margin-right: 4px;
}

.table-header-1 {
  background-color: rgb(58, 58, 58);
  color: #fff;
}

.table-header-2 {
  background-color: rgb(240, 238, 229);
  color: #000;
}

.table-header-3 {
  background-color: rgb(240, 238, 229);
  position: relative;
}

.table-info-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table-info-container > * {
  margin-top: 16px;
}

.table-info-container > *:not(:last-child) {
  margin-right: 16px;
}

.table-wrapper {
  display: block;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.sticky-header .table-wrapper {
  max-height: 60vh;
  overflow-y: scroll;
}

.hide-scrollbar .table-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar .table-wrapper::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  table thead {
    display: none;
  }

  table tr {
    display: block;
    margin-bottom: var(--table-cards-gap, 0.6rem);
  }

  table td {
    border: 1px solid #222;
    border-bottom: none;
    display: block;
    font-size: var(--td-font-size, 0.8rem);
    text-align: right;
    width: 100% !important; /* override column size from props */
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: var(--td-border-bottom, 1px solid #222);
  }
}
