.data {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.data .label {
  font-size: 0.875rem;
}

.data .value {
  font-weight: 500;
}

.data.data-stat {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.data.data-stat .value {
  display: flex;
  font-size: 2rem;
  justify-content: flex-end;
}
