.data {
  display: grid;
  grid-template-areas:
    "label"
    "value";
  gap: 0.25rem;
}

.data .label {
  grid-area: label;
  font-size: 0.875rem;
}

.data .value {
  grid-area: value;
  font-weight: 500;
}

.data-stat {
  border: 1px solid #cbc3c3;
  border-radius: 8px;
  max-width: 215px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.data-stat .value {
  font-size: 2rem;
  text-align: right;
}
