.button-submit {
  align-items: center;
  background: var(--button-submit-bg-color, #1c4786);
  border-radius: 6px;
  border: none;
  color: var(--button-submit-color, #ffffff);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding: 1rem 0.625rem;
}

.button-submit:disabled {
  background: #dddddd;
}
