.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: var(--button-border-radius, 0.4rem);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #757575;
  opacity: 1;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.google-button:hover {
  opacity: 0.8;
}

.google-button > img {
  margin-right: 16px;
  background-color: #ffffff;
  height: 38px;
  width: 38px;
  border-radius: calc(var(--button-border-radius) - 0.1rem);
}

.google-button > span {
  padding-right: 8px;
}

.google-button.light {
  background-color: #ffffff;
  border: 1px solid #0000001a;
}

.google-button.dark {
  justify-content: flex-start;
  background-color: #4285f4;
  border: none;
  padding-left: 1px;
}

.google-button.dark > span {
  color: #ffffff;
  flex: 1;
}
