.radio-button-wrapper {
  align-items: baseline;
  display: flex;
  gap: 0.5rem;
}

.radio-button-wrapper input[type="radio"] {
  outline: none;
  transform: scale(1.5);
  width: auto;
  accent-color: var(--dz-primary-color);
}
