.field {
  --_background-color: var(--field-bg-color, transparent);
  --_background-color-disabled: var(--field-bg-color-disabled, #f8f8f8);
  --_border-color: var(--border-color);
  --_border-radius: var(--border-radius);
  --_icon-color: var(--field-icon-color, #7b7676);
  --_padding-block: var(--field-padding-block, 0.5rem);
  --_padding-inline: var(--field-padding-inline, 0.75rem);
  --_placeholder-color: var(--field-placeholder-color, #7b7676);
  --_options-menu-background-color: var(--list-menu-bg-color, #ffffff);
  --_option-background-color-hover: var(--list-item-bg-hover, #ededed);
  --_option-background-color-active: var(--list-item-bg-active, #ededed);
}

.select-menu {
  --_border-color: var(--border-color);
  --_border-radius: var(--border-radius);
  --_icon-color: var(--field-icon-color, #7b7676);
  --_padding-block: var(--field-padding-block, 0.5rem);
  --_padding-inline: var(--field-padding-inline, 0.75rem);
  --_options-menu-background-color: var(--list-menu-bg-color, #ffffff);
  --_option-background-color-hover: var(--list-item-bg-hover, #ededed);
  --_option-background-color-active: var(--list-item-bg-active, #ededed);
}

.select {
  position: relative;
  width: 100%;
}

.select > .label-container {
  align-items: center;
  background-color: var(--_background-color);
  border-radius: var(--_border-radius);
  border: 1px solid var(--_border-color);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
}

.select .debounced-input .input-field {
  border: none;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select > .label-container .input-field:focus-within {
  outline: none;
}

.select > .label-container.focused,
.select > .label-container:focus {
  outline: 2px solid var(--dz-primary-color);
}

.select > .label-container.disabled {
  --_background-color: var(--_background-color-disabled);

  cursor: not-allowed;
  opacity: 0.8;
  outline: none;
}

.select > .label-container[aria-invalid="true"] {
  border-color: var(--dz-danger-color);
}

.select > .label-container[aria-invalid="false"] {
  border-color: var(--dz-success-color);
}

.select > .label-container i {
  color: var(--_icon-color);
  cursor: pointer;
  font-size: 0.85rem;
}

.select > .label-container .action-items {
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;
  min-width: fit-content;
}

.select > .label-container .placeholder {
  color: var(--_placeholder-color);
}

.select-menu .selected-options-wrapper {
  height: 0;
  min-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  transition: min-height 0.3s ease, height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.select-menu .selected-options-wrapper.visible {
  height: 3rem;
  min-height: 3rem;
  opacity: 1;
  padding: 0.75rem;
}

.select-menu .selected-options, .label-container .selected-options {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-menu .selected-options-wrapper .divider[role=separator] {
  margin: 0.65rem 0;
}

.select-menu ul {
  display: flex;
  flex-direction: column;
  max-height: 12rem;
  overflow-y: auto;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  row-gap: 0.25rem;
  text-align: left;
  width: 100%;
}

.select-menu ul > li {
  border-radius: var(--_border-radius);
  cursor: pointer;
  display: flex;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  transition: background-color var(--transition-duration) linear;
}

.select-menu ul > li.group-label {
  cursor: text;
  font-weight: 600;
}


.select-menu ul > li:hover:not(.group-label),
.select-menu ul > li.focused:not(.group-label) {
  background-color: var(--_option-background-color-hover);
}

.select-menu ul > li.selected {
  background-color: var(--_option-background-color-active);
}

.select-menu ul > li.disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.select-menu ul[aria-multiselectable="true"] > li {
  gap: 0.5rem;
  align-items: baseline;
}

.select-menu ul > li > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
