.dz-nav-item {
  --_nav-item-color: var(--dz-nav-item-color, #2c2c2c);
  --_nav-item-hover-color: var(--dz-nav-item-hover-color, #2c2c2c);
  --_nav-item-active-color: var(--dz-nav-item-active-color, #2c2c2c);
  --_nav-item-disabled-color: var(--dz-nav-item-disabled-color, #6d7b92);
  --_nav-item-border-radius: var(--dz-nav-item-border-radius, 0);
  --_nav-item-hover-bg: var(--dz-nav-item-hover-bg, #f0f2f7ad);
  --_nav-item-active-bg: var(--dz-nav-item-active-bg, #eff6ff);

  --_nav-item-padding-h: var(--dz-nav-item-padding-h, 1rem);
  --_nav-item-padding-v: var(--dz-nav-item-padding-v, 0.5rem);
  --_nav-item-transition-duration: var(--transition-duration, 150ms);

  align-items: baseline;
  border-radius: var(--_nav-item-border-radius);
  cursor: pointer;
  color: var(--_nav-item-color);
  display: flex;
  gap: 0.75rem;
  padding: var(--_nav-item-padding-v) var(--_nav-item-padding-h);
  text-decoration: none;
  transition:
    background var(--_nav-item-transition-duration) linear,
    font-weight var(--_nav-item-transition-duration) linear,
    color var(--_nav-item-transition-duration) linear;
  width: 100%;
}

.dz-nav-item:hover {
  background: var(--_nav-item-hover-bg);
  color: var(--_nav-item-hover-color);
  text-decoration: none;
}

.dz-nav-item[aria-current="page"] {
  background: var(--_nav-item-active-bg);
  color: var(--_nav-item-active-color);
  text-decoration: none;
}

.dz-nav-item[aria-disabled="true"] {
  background: unset;
  color: var(--_nav-item-disabled-color);
  cursor: default;
  opacity: 0.8;
}

.dz-nav-item > span {
  flex: 1;
}
