.dz-nav-group {
  --_collapsible-reverse-submenu-bg: var(--dz-nav-collapsible-reverse-submenu-bg, #ffffff);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.dz-nav-group > .dz-group-submenu {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-height: 0;
}

.dz-nav-group[aria-expanded="true"] > ul.dz-group-submenu {
  max-height: 500px;
  padding: 0.5rem 0;
}

.dz-nav-group .dz-group-submenu > li {
  width: 100%;
}

.dz-nav-group ul li .dz-nav-item {
  padding-left: calc(1.75 * var(--_nav-item-padding-h));
}

.dz-nav-group .dz-group-submenu > li .dz-nav-item {
  display: flex;
}

.dz-nav-group .dz-nav-group-toggle {
  transition: transform 0.5s ease;
}

.dz-nav-group.collapsible > .dz-group-header .dz-nav-group-toggle {
  transform: rotate(90deg);
}

.dz-nav-group.collapsible[aria-expanded="true"]
  > .dz-group-header
  .dz-nav-group-toggle {
  transform: rotate(-90deg);
}

/* Collapsible-reverse */
.dz-nav-group.collapsible-reverse {
  position: relative;
}

.dz-nav-group.collapsible-reverse ul.dz-group-submenu {
  position: absolute;
  background: var(--_collapsible-reverse-submenu-bg);
  bottom: 100%;
  margin: 1px 0;
  width: 100%;
  z-index: 2;
}

.dz-nav-group.collapsible-reverse[aria-expanded="true"] ul.dz-group-submenu {
  box-shadow: 0 -2px 12px 0 rgba(0, 0, 0, 0.1);
  /* animation: levitate 1s ease forwards; */
}

.dz-nav-group.collapsible-reverse .dz-group-submenu .dz-nav-item {
  padding-left: var(--_nav-item-padding-h);
}

.dz-nav-group.collapsible-reverse > .dz-group-header .dz-nav-group-toggle {
  transform: rotate(-90deg);
}

.dz-nav-group.collapsible-reverse[aria-expanded="true"]
  > .dz-group-header
  .dz-nav-group-toggle {
  transform: rotate(90deg);
}

/* Expanded */
.dz-nav-group.expanded > .dz-nav-item .dz-nav-group-toggle {
  display: none;
}

.dz-nav-group.expanded > .dz-nav-item.dz-group-header {
  background: unset;
  cursor: default;
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
