/* default colors are for sidebar */
.dz-navigation-menu {
  --_layout-nav-menu-label-color: var(
    --dz-layout-nav-menu-label-color,
    #ffffff
  );
  --_layout-nav-menu-label-padding-h: var(--dz-layout-nav-item-padding-h, 1rem);
  --_layout-nav-menu-label-padding-v: var(
    --dz-layout-nav-item-padding-v,
    0.625rem
  );

  --_layout-nav-menu-padding-h: var(--dz-layout-nav-menu-padding-h, 0);
  --_layout-nav-menu-padding-v: var(--dz-layout-nav-menu-padding-v, 1rem);

  --_layout-nav-menu-separator-color: var(
    --dz-layout-nav-menu-separator-color,
    #dbdbdb
  );

  --_layout-nav-item-overlay-menu-background-color: var(
    --dz-layout-nav-item-overlay-menu-background-color,
    #ffffff
  );

  display: flex;
  flex-direction: column;
}

.dz-navigation-menu > .dz-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: var(--_layout-nav-menu-padding-v) var(--_layout-nav-menu-padding-h);
}

.dz-navigation-menu > .dz-nav-menu + .dz-nav-menu {
  border-top: 1px solid var(--_nav-menu-separator-color);
}

.dz-navigation-menu > .dz-nav-menu > span[role="heading"] {
  color: var(--_layout-nav-menu-label-color);
  font-weight: 500;
  padding: var(--_layout-nav-menu-label-padding-v)
    var(--_layout-nav-menu-label-padding-h);
}

.dz-navigation-menu .dz-nav-menu > ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0;
}

.dz-navigation-menu > .dz-nav-menu > ul > li .dz-nav-item > span {
  flex: 1;
}

@media screen and (min-width: 576px) {
  .dz-navigation-menu[data-horizontal="true"] {
    align-items: center;
    flex-direction: row;
  }

  .dz-navigation-menu[data-horizontal="true"] > .dz-nav-menu {
    border-top: none;
    padding: 0 var(--_layout-nav-menu-padding-h);
  }

  .dz-navigation-menu[data-horizontal="true"]
    > .dz-nav-menu
    > span[role="heading"] {
    padding: 0 var(--_layout-nav-menu-label-padding-h);
  }

  .dz-navigation-menu[data-horizontal="true"] > .dz-nav-menu ul {
    align-items: center;
    flex-direction: row;
  }

  .dz-navigation-menu[data-horizontal="true"]
    > .dz-nav-menu
    > ul
    > li
    .dz-nav-group
    .dz-group-submenu {
    background: var(--_layout-nav-item-overlay-menu-background-color);
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    box-shadow: 0 2px 12px #0000001a;
    display: none;
    min-width: 11rem;
    position: absolute;
    z-index: 999;
  }

  .dz-navigation-menu[data-horizontal="true"]
    > .dz-nav-menu
    > ul
    > li
    > .dz-nav-group:hover
    > .dz-group-submenu {
    display: flex;
    top: 100%;
  }

  .dz-navigation-menu[data-horizontal="true"]
    > .dz-nav-menu
    > ul
    > li
    > .dz-nav-group
    > .dz-group-submenu
    .dz-nav-group:hover
    > .dz-group-submenu {
    display: flex;
    left: 100%;
  }
}
