.accordion {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.accordion > li {
  display: flex;
}

.accordion > li > button {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.accordion.horizontal > li > button {
  flex-direction: column;
}

.accordion.horizontal {
  align-items: stretch;
  flex-direction: row;
}

.accordion.horizontal > li {
  flex-direction: row;
}

.accordion.horizontal > li > button {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transform: rotate(180deg);
}

.accordion.horizontal > li > button > span {
  text-orientation: sideways-right;
  writing-mode: vertical-rl;
}

.accordion.horizontal > li > button > img:first-child,
.accordion.horizontal > li > button > img:last-child {
  transform: rotate(90deg);
}

.accordion.vertical,
.accordion.vertical > li {
  flex-direction: column;
  width: 100%;
}
