.tabbed-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabbed-panel.bottom {
  flex-direction: column-reverse;
}

.tabbed-panel > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabbed-panel.bottom > ul,
.tabbed-panel.top > ul {
  flex-direction: row;
}

.tabbed-panel.bottom > ul > li.active button {
  border-top: var(--bottom-transparent, 1px solid transparent);
}

.tabbed-panel.left {
  flex-direction: row;
}

.tabbed-panel > ul > li {
  width: max-content;
  color: #444;
}

.tabbed-panel > ul > li button {
  align-items: center;
  background: var(--tab-background, #eee);
  border-bottom: 0;
  border: 0;
  border: var(--tab-border, 1px solid #ddd);
  cursor: pointer;
  display: flex;
  outline: 0;
  padding: 15px 25px;
  width: 100%;
  transition: background-color 0.25s ease-in-out;
}

.tabbed-panel > ul > li button:focus-visible {
  outline-offset: -1px;
  outline: var(--tab-focus-outline, 1px solid #1c4786);
}

.tabbed-panel > ul > li:not(.active) button:hover {
  background: var(--tab-background-hover, #ddd);
}

.tabbed-panel > ul > li.active button {
  background: var(--tab-background-active, #fff);
}

.tabbed-panel > ul > li span {
  font-size: 1rem;
  width: max-content;
}

.tabbed-panel > ul > li img {
  height: 16px;
  margin-right: 5px;
  object-fit: contain;
  width: 16px;
}

.tabbed-panel.left > ul {
  align-items: flex-start;
}

.tabbed-panel.left > ul > li.active button {
  border-right: var(--bottom-transparent, 1px solid transparent);
}

.tabbed-panel.right {
  flex-direction: row-reverse;
}

.tabbed-panel.right > ul > li.active button {
  border-left: var(--bottom-transparent, 1px solid transparent);
}

.tabbed-panel.left .sub-pane,
.tabbed-panel.right .sub-pane {
  flex-grow: 1;
}

.tabbed-panel.left > ul > li,
.tabbed-panel.right > ul > li {
  width: 100%;
}

.tabbed-panel.top > ul > li.active button {
  border-bottom: var(--top-transparent, 1px solid transparent);
}
