.tab {
  color: #444;
}

.tab button {
  align-items: center;
  background: var(--tab-background, #eee);
  border-bottom: 0;
  border: 0;
  border: var(--tab-border, 1px solid #ddd);
  cursor: pointer;
  display: flex;
  outline: 0;
  padding: 15px 25px;
  transition: background-color 0.25s ease-in-out;
}

.tab.active button {
  background: var(--tab-background-active, #fff);
  border-bottom: none;
}

.tab button:focus-visible {
  outline-offset: -1px;
  outline: var(--tab-focus-outline, 1px solid #1c4786);
}

.tab:not(.active) button:hover {
  background: var(--tab-background-hover, #ddd);
}

.tab-icon {
  height: 16px;
  margin-right: 5px;
  object-fit: contain;
  width: 16px;
}

.tab-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

.tab-list .tab:not(:last-child) button {
  border-right-width: 0;
}
