.tabbed-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabbed-panel.bottom {
  flex-direction: column-reverse;
}

.tabbed-panel>ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: max-content;
  padding: 0;
  margin: 0;
}

.tabbed-panel.bottom>ul,
.tabbed-panel.top>ul {
  flex-direction: row;
}

.tabbed-panel.bottom>ul>li.active button {
  border-top: var(--tab-active-border);
}

.tabbed-panel.left {
  flex-direction: row;
}

.tabbed-panel>ul>li {
  width: max-content;
}

.tabbed-panel>ul>li button {
  align-items: center;
  background: var(--tab-background);
  border-bottom: 0;
  border: 0;
  border: var(--tab-border);
  cursor: pointer;
  display: flex;
  outline: 0;
  padding: var(--tab-padding);
  width: 100%;
  transition: background-color 0.25s ease-in-out;
}

.tabbed-panel>ul>li button:focus-visible {
  outline-offset: -1px;
  outline: var(--tab-focus-outline);
}

.tabbed-panel>ul>li:not(.active) button:hover {
  background: var(--tab-background-hover);
}

.tabbed-panel>ul>li.active button {
  background: var(--tab-background-active);
}

.tabbed-panel>ul>li span {
  color: var(--tab-font-color);
  font-size: var(--tab-font-size);
  width: max-content;
}

.tabbed-panel>ul>li img {
  height: var(--tab-icon-height);
  margin: var(--tab-icon-margin);
  object-fit: contain;
  width: var(--tab-icon-width);
}

.tabbed-panel.left>ul {
  align-items: flex-start;
}

.tabbed-panel.left>ul>li.active button {
  border-right: var(--tab-active-border);
}

.tabbed-panel.right {
  flex-direction: row-reverse;
}

.tabbed-panel.right>ul>li.active button {
  border-left: var(--tab-active-border);
}

.tabbed-panel.left .sub-pane,
.tabbed-panel.right .sub-pane {
  flex-grow: 1;
}

.tabbed-panel.left>ul>li,
.tabbed-panel.right>ul>li {
  width: 100%;
}

.tabbed-panel.top>ul>li.active button {
  border-bottom: var(--tab-active-border);
}
