.dz-data {
  display: grid;
  grid-template-areas: "data-label" "data-value";
  gap: 0.375rem;
}

.dz-data-label {
  grid-area: data-label;
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
}

.dz-data-value {
  grid-area: data-value;
  color: #555;
  word-break: break-word;
}
