.tabbed-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabbed-panel.bottom {
  flex-direction: column-reverse;
}

.tabbed-panel > div[role="tablist"] {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: max-content;
  padding: 0;
  margin: 0;
}

.tabbed-panel.bottom > div[role="tablist"],
.tabbed-panel.top > div[role="tablist"] {
  flex-direction: row;
  overflow-x: auto;
}

.tabbed-panel.left {
  flex-direction: row;
}

.tabbed-panel > div[role="tablist"] > button {
  width: max-content;
}

.tabbed-panel.left > div[role="tablist"] {
  align-items: flex-start;
}

.tabbed-panel.left > div[role="tablist"] > button.active {
  border-right: var(--tab-active-border);
}

.tabbed-panel.right {
  flex-direction: row-reverse;
}

.tabbed-panel.right > div[role="tablist"] > button.active {
  border-left: var(--tab-active-border);
}

.tabbed-panel.left > div[role="tablist"] > button,
.tabbed-panel.right > div[role="tablist"] > button {
  width: 100%;
}
