header {
  align-items: center;
  display: grid;
  font-size: var(--header-font-size, 1rem);
  grid-gap: 0 var(--header-gap, 1.5rem);
  grid-template-areas:
    "logo nav";
  grid-template-columns: var(--header-logo-width, 200px) 1fr;
  grid-template-rows: auto;
  position: relative;
}

header .logo {
  grid-area: logo;
  max-width: var(--header-logo-width, 200px);
}

header > nav {
  display: grid;
  grid-area: nav;
  gap: var(--header-nav-column-gap, 0.25rem) var(--header-nav-row-gap, 1rem);
  grid-template-areas: "mainMenu userMenu locales";
  grid-template-columns: 1fr auto auto;
}

header > nav .mainMenu {
  grid-area: mainMenu;
}

header > nav .locales {
  grid-area: locales;
}

header > nav .userMenu {
  grid-area: userMenu;
}

header > .toggle {
  display: none;
}

@media screen and (max-width: 576px) {
  header {
    align-items: start;
    grid-gap: 0 var(--header-gap, 1.5rem);
    grid-template-areas:
      "logo toggle"
      "nav nav";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    position: relative;
  }

  header > nav {
    background: var(--header-nav-bg-color, #fff);
    border: var(--header-nav-border, 1px solid #ddd);
    box-shadow: 6px 4px 5px 0px rgba(150, 150, 150, 0.5);
    -webkit-box-shadow: 6px 4px 5px 0px rgba(150, 150, 150, 0.5);
    -moz-box-shadow: 6px 4px 5px 0px rgba(150, 150, 150, 0.5);
    display: none;
    gap: var(--header-nav-gap, 0.25rem);
    position: absolute;
    z-index: calc(var(--basic-layout-header-z-index, 200) + 10);
  }

  header > nav.dropdown {
    align-items: stretch;
    border-radius: var(--neader-nav-border-radius, 5px);
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100%;
  }

  header > nav.dropdown > :not(:last-child) {
    border-bottom: 1px solid #ddd;
  }

  header > nav.left-slider {
    align-items: flex-start;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: var(--padding-v, 0.8rem) var(--padding-h, 0.8rem);
    position: fixed;
    top: 0;
  }

  header > nav.expanded {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

  header .toggle {
    align-self: center;
    cursor: pointer;
    display: block;
    grid-area: toggle;
  }
}
