.file-input .selected-files {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.file-input .selected-files li {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1rem;
  height: 4.5rem;
}

.file-input .selected-files li .file-info {
  display: flex;
  gap: 0.75rem;
}

.file-input .selected-files li .file-preview {
  width: 3.5rem;
  height: 100%;
  background: lightgray;
}

.file-input .selected-files li .file-description {
  max-width: 40rem;
}

.file-input .selected-files .p-button.p-button-sm {
  padding: 0 !important;
  width: auto;
}

.file-input .dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: "center";
  padding: 30px 20px;
  border-width: 2;
  border-radius: 2;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.file-input .dropzone.focused {
  border-color: #2196f3;
}

.file-input .dropzone.accepted {
  border-color: #00e676;
}

.file-input .dropzone.rejected {
  border-color: #ff1744;
}

.file-description .description {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.514);
}

.file-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
