.selected-files {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.selected-files li {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1rem;
}

.selected-files li .file-info {
  display: flex;
  gap: 0.75rem;
}

.selected-files li .file-preview {
  width: 2.5rem;
  height: 3rem;
  background: lightgray;
}

.selected-files li .file-description {
  max-width: 40rem;
}
