.file-input .selected,
.file-list-overlay .selected {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
.file-input .selected {
  padding-inline-start: 0px;
}

.file-input .selected li,
.file-list-overlay .selected li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
  border-bottom: 1px solid #bdbdbd48;
  padding: 0.5rem 0rem;
}

.file-input .selected li .info,
.file-list-overlay .selected li .info {
  position: relative;
  display: flex;
  gap: 0.75rem;
  width: 90%;
}

.file-input .selected li > button,
.file-list-overlay .selected li > button {
  position: absolute;
  right: 0;
  padding: 0.2rem 0.3rem;
}

.file-input .selected li .preview,
.file-list-overlay .selected li .preview {
  min-width: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  background: lightgray;
}

.file-list-overlay .selected li .info .details,
.file-input .selected li .info .details > span {
  overflow: clip;
  text-overflow: ellipsis;
}

.file-input .selected li .description-wrapper,
.file-list-overlay .selected li .description-wrapper {
  display: flex;
  gap: 0.5rem;
  height: 2.3rem;
  width: 100%;
}

.file-list-overlay .p-overlaypanel-content .selected li .info .details > span {
  display: inline-block;
  width: 90%;
  overflow: clip;
  text-overflow: ellipsis;
}

.file-input .dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: "center";
  padding: 30px 20px;
  border-width: 2;
  border-radius: 2;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: var(--dz-input-fill-color);
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.file-input .dropzone.focused {
  border-color: #2196f3;
}

.file-input .dropzone.accepted {
  border-color: #00e676;
}

.file-input .dropzone.rejected {
  border-color: #ff1744;
}

.file-input .description-wrapper .description {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.514);
  text-overflow: ellipsis;
  height: 2.3rem;
  max-width: 40rem;
  overflow: hidden;
}

.file-input .description-wrapper i {
  visibility: hidden;
}

.file-input .description-wrapper .p-inputgroup {
  position: absolute;
}

.file-input .description-wrapper:hover i {
  visibility: visible;
}

.file-input .details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
}
