form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--form-gap, 1.5rem);
  justify-content: flex-start;
  width: 100%;
}

.dz-form-actions {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: stretch;
}

form .dz-form-actions[data-alignment="center"] {
  justify-content: center;
}

form .field .p-dropdown {
  background-color: var(--dz-input-fill-color);
  width: 100%;
}

form .field .p-dropdown > span.p-dropdown-label {
  padding: var(--form-input-padding-v, 0.75rem)
    var(--form-input-padding-h, 0.65rem);
}

form .field .p-calendar > input {
  background-color: var(--dz-input-fill-color);
}

@media screen and (min-width: 576px) {
  .dz-form-actions {
    flex-direction: row;
  }

  .dz-form-actions[data-direction="vertical"] {
    flex-direction: column;
  }

  .dz-form-actions[data-alignment="right"] {
    justify-content: flex-start;
    flex-direction: row-reverse;
  }

  .dz-form-actions[data-reverse="true"] {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }

  .dz-form-actions[data-direction="vertical"][data-reverse="true"] {
    flex-direction: column-reverse;
  }
  .dz-form-actions[data-alignment="right"][data-reverse="true"] {
    justify-content: flex-end;
    flex-direction: row;
  }

  .dz-form-actions[data-alignment="fill"] button {
    flex: 1;
  }
}
