.input-field-password {
  align-items: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  display: flex;
  padding-block: var(--field-padding-block);
  padding-inline: var(--field-padding-inline);
  text-align: left;
  width: 100%;
}

.input-field-password:focus-within {
  outline: 2px solid var(--dz-primary-color);
}

.input-field-password[aria-invalid="true"] {
  border-color: var(--dz-danger-color);
}

.input-field-password[aria-invalid="false"] {
  border-color: var(--dz-success-color);
}

.input-field-password > input {
  border: none;
  width: 100%;
}

.input-field-password > input:focus {
  outline: none;
}

.input-field-password > input[aria-invalid="true"]:focus-visible,
.input-field-password > input[aria-invalid="false"]:focus-visible {
  box-shadow: none;
}

.input-field-password .eye-icon {
  align-items: center;
  display: flex;
  margin-right: 0.5rem;
}
