.input-field-password {
  border: 1px solid var(--form-input-border-color, #000);
  border-radius: var(--form-input-border-radius, 0.25em);
  position: relative;
  width: 100%;
}

.input-field-password >input{
  border: none;
  width: 90%;
}

.input-field-password >input:focus{
  outline: none;
}

.input-field-password .eye-icon {
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 50%; 
  transform: translateY(-50%);
}
