.input-field-password {
  border: 1px solid var(--form-input-border-color, #000);
  border-radius: var(--form-input-border-radius, 0.25em);
  position: relative;
  text-align: left;
  width: 100%;
}

.input-field-password:focus-within{
  outline: 2px solid var(--form-input-focus-color);
}

.input-field-password[aria-invalid="true"] {
  border-color: var(--color-alert-danger, #dc3545);
}

.input-field-password[aria-invalid="true"]:focus-visible {
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

.input-field-password[aria-invalid="false"] {
  border-color: var(--color-alert-success, #198754);
}

.input-field-password[aria-invalid="false"]:focus-visible {
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

.input-field-password > input {
  border: none;
  width: 90%;
}

.input-field-password > input:focus {
  outline: none;
}

.input-field-password > input[aria-invalid="true"]:focus-visible,
.input-field-password > input[aria-invalid="false"]:focus-visible {
  box-shadow: none;
}

.input-field-password .eye-icon {
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
