.field.select-input > select {
  background-color: var(--dz-input-fill-color);
  border: 1px solid var(--form-input-border-color);
  border-radius: var(--form-input-border-radius);
  height: 2.45rem;
  width: 100%;
}
