  .field.switch-toggle input[type="checkbox"] {
    width: 60px;
    height: 34px;
    appearance: none;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
  }

  .field.switch-toggle input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    left: 2px;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .field.switch-toggle input[type="checkbox"]:checked:before {
    transform: translateX(100%);
  }
  
  .field.switch-toggle input[type="checkbox"]:checked {
    background-color: #2196F3;
  }
  