  .field.switch-toggle input[type="checkbox"] {
    width: 60px;
    height: 35px;
    appearance: none;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
  }

  .field.switch-toggle input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    bottom: 4px;
    left: 4px;
    background-color: white;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .field.switch-toggle input[type="checkbox"]:checked:before {
    transform: translateX(24px);
  }
  
  .field.switch-toggle input[type="checkbox"]:checked {
    background-color: #2196F3;
  }
  