:root {
  --dz-input-fill-color: transparent;
  --form-input-border-color: #ccc;
  --form-input-border-color-danger: #dc3545;
  --form-input-border-color-highlight: #555;
  --form-input-border-radius: 0.25em;
  --form-input-error-font-size: 0.8em;
  --form-input-focus-color: #007aff;
  --form-input-padding-h: 0.75rem;
  --form-input-padding-v: 0.5rem;
}
