.code-block pre {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
}

.code-block header {
  display: grid;
  gap: 1rem;
}

.code-block code {
  background: #f2f1f1;
  padding: 0.125rem 0.25rem;
}

.code-block pre code {
  background: none;
  padding: 0;
}
