.demo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: stretch;
}

.demo > .demo-aside {
  flex-basis: 15rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-right: 1px solid #ccc;
}

.demo > .demo-main {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.demo > ul > li > a {
  font-size: 1rem;
  color: var(--color);
  text-decoration: none;
  transition: all 200ms ease;
  line-height: 1.5;
}

.demo > ul > li > a:hover,
.demo > ul > li > a[aria-current="page"] {
  text-decoration: underline;
}

.demo-section {
  margin-bottom: 3rem;
}

.demo-section .demo-section-content {
  display: grid;
  gap: 1.5rem;
}

.demo-section > h2,
.demo-section > h3,
.demo-section > h4 {
  margin-bottom: 1rem;
}

.demo-section
  .demo-section-content
  .dz-table-container
  .table-wrapper
  > table
  > thead
  > tr
  > th
  > .filter-date {
  display: flex;
  gap: 0.2rem;
}

.demo-section
  .demo-section-content
  .dz-table-container
  .table-wrapper
  > table
  > tbody
  > tr
  > td
  > .cell-name {
  background-color: #ccc;
  width: 300px;
}

.demo > .demo-main > .filled input,
.demo > .demo-main > .filled .input-field-password {
  background-color: #ccc;
}

.demo > .demo-main > .filled input[readonly] {
  background-color: transparent;
}

.demo > .demo-main > .filled input[disabled] {
  background-color: #f7f7f7;
}

.demo > .demo-main > form > .form-modes {
  display: flex;
  gap: 2rem;
}

.demo > .demo-main > form > span.form-mode-title {
  font-size: 1.75rem;
  font-weight: 600;
}
