.dz-grid-container .package {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.25rem;
}

.dz-grid-container .package:hover {
  border-color: var(--dz-secondary-color);
}

.dz-page.home {
  padding-right: 2rem;
  padding-top: 2.5rem;
}
