.selected-options-wrapper .selected-labels, .select .label-container .selected-labels{
  display: flex;
  gap: 0.5rem;
}

.demo-section .demo-section-content .field.country-select {
  width: 14rem;
}
