.stepper-demo-content-wrapper { 
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.stepper-demo-button-wrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}
