:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --layout-max-width: 100%;
  --logo-width: 150px;
  --color: rgb(84, 84, 84);
}

* {
  box-sizing: border-box;
}

p {
  color: var(--color);
}

.main-menu > ul > li:hover,
.main-menu > ul > li .active {
  text-decoration: underline;
  font-weight: normal;
}

.header-addon .header-container .addon {
  order: 1;
  color: var(--_layout-header-color);
}

.header-addon .header-container .addon:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header-addon .header-container .header-menu {
  order: 2;
}

code {
  background: lightgrey;
  border-radius: 0.25rem;
  padding: 0.5rem 0.5rem;
  font-family: monospace;
}

@media screen and (min-width: 60rem) {
  :root {
    --layout-padding-h: 3rem;
  }

  .layout.basic > :is(footer, header, main) {
    padding-left: var(--layout-padding-h);
    padding-right: var(--layout-padding-h);
  }
}
