.dz-table-container.vertical .table-wrapper > table > tbody > tr,
.dz-table-container.vertical .table-wrapper > table > tbody > tr > td,
.dz-table-container.vertical .table-wrapper > table > thead tr > th {
  border: none;
}

.dz-table-container.vertical .table-wrapper > table > tbody > tr > td,
.dz-table-container.vertical .table-wrapper > table > thead tr > th {
  border-left: var(--dz-table-border);
  border-right: var(--dz-table-border);
}

.dz-table-container.horizontal .table-wrapper > table > tbody > tr > td,
.dz-table-container.horizontal .table-wrapper > table > thead tr > th {
  border: none;
}
