form {
  gap: var(--form-gap, 1rem);
}

form > button {
  height: 2.5rem;
}

form > .field {
  row-gap: 0.2rem;
}

form > .field > label {
  text-align: start;
}

form > .field > span {
  text-align: start;
}
