form {
  gap: var(--form-gap, 1rem);
  width: 100%;
  min-width: 20rem;
  max-width: 20rem;
}

form > button {
  height: 2.5rem;
}

form > .field {
  row-gap: 0.5em;
}

form > .field > label {
  text-align: start;
}

form > .field > span {
  text-align: start;
}
