.table-invitations .column-email {
  min-width: 30rem;
}

.table-invitations .column-app {
  width: 5rem;
  max-width: 5rem;
  min-width: 5rem;
}

.table-invitations .column-role {
  width: 5rem;
  max-width: 5rem;
  min-width: 5rem;
}

.table-invitations .column-signedUpAt {
  width: 10rem;
  max-width: 10rem;
  min-width: 10rem;
}

.table-invitations .column-invitedBy {
  width: 10rem;
  max-width: 10rem;
  min-width: 10rem;
}

.table-invitations .column-expiresAt {
  width: 10rem;
  max-width: 10rem;
  min-width: 10rem;
}

.table-invitations .column-actions {
  width: 7rem;
  max-width: 7rem;
  min-width: 7rem;
}
