.table-invitations .column-email {
  min-width: 15rem;
}

.table-invitations .column-app {
  width: 10rem;
  max-width: 10rem;
  min-width: 10rem;
}

.table-invitations .column-role {
  width: 10rem;
  max-width: 10rem;
  min-width: 10rem;
}

.table-invitations .column-invitedBy {
  width: 15rem;
  max-width: 15rem;
  min-width: 15rem;
}

.table-invitations .column-expiresAt {
  width: 10rem;
  max-width: 10rem;
  min-width: 10rem;
}

.table-invitations .column-actions {
  width: 6rem;
  max-width: 6rem;
  min-width: 6rem;
}
