.p-datepicker.expiresAt {
  z-index: 1111 !important;
}

.field.expiresAt .p-calendar {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .invitation-modal .actions {
    flex-direction: column-reverse;
  }
}
