.page.login {
  justify-items: center;
}

.login > .content > .social-login-wrapper {
  display: flex;
  width: 90%;
}

.login > .content > .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.login > .content > form {
  grid-area: form;
}

.login > .content > .links {
  grid-area: links;
}

.login > .content > .divider {
  grid-area: divider;
}

.login > .content > .social-login-wrapper {
  grid-area: sso-wrapper;
}

.login > .content {
  align-items: center;
  text-align: center;
  width: 20rem;
  display: grid;
  grid-template-areas:
    "form"
    "links"
    "divider"
    "sso-wrapper";
  grid-auto-rows: max-content;
  gap: 0.5rem;
  justify-items: center;
}
