.page.login {
  justify-items: center;
}

.login > .content > form {
  grid-area: form;
}

.login > .content > .links {
  grid-area: links;
}

.login > .content > .divider-with-text {
  grid-area: divider;
}

.login > .content > .social-login-wrapper {
  grid-area: sso-wrapper;
}

.login > .content {
  align-items: center;
  text-align: center;
  min-width: 20rem;
  width: max-content;
  display: grid;
  grid-template-areas:
    "form"
    "links"
    "divider"
    "sso-wrapper";
  grid-auto-rows: max-content;
  gap: 0.5rem;
  justify-items: center;
}

.login.sso-first > .content[data-aria-orientation="vertical"] {
  grid-template-areas:
    "sso-wrapper"
    "divider"
    "form"
    "links";
}

.login > .content[data-aria-orientation="Horizontal"] {
  grid-template-areas:
    "sso-wrapper divider form "
    "sso-wrapper divider links";
}

.login > .content > .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.login > .content > .divider-with-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.login > .content > .divider-with-text > span {
  padding: 0 0.5rem;
}

.login > .content > .social-login-wrapper {
  display: flex;
  width: 100%;
}
