.dz-page[data-centered="true"].login {
  max-width: fit-content;
}

.login > .content > .login-wrapper {
  grid-area: form-wrapper;
}

.login > .content > .divider {
  grid-area: divider;
  display: none;
}

.login > .content > .social-login-wrapper {
  grid-area: sso-wrapper;
}

.login > .content > .social-login-wrapper {
  display: flex;
  width: 100%;
}

.login > .content {
  align-items: center;
  text-align: center;
  min-width: 20rem;
  width: max-content;
  display: grid;
  grid-template-areas:
    "form-wrapper"
    "divider"
    "sso-wrapper";
  grid-auto-rows: max-content;
  gap: 1rem;
  justify-items: center;
  grid-auto-columns: 1fr auto 1fr;
}

.login.sso-first > .content {
  grid-template-areas:
    "sso-wrapper"
    "divider"
    "form-wrapper";
}

.login > .content > .divider[data-aria-orientation="horizontal"] {
  display: block;
}

@media (min-width: 576px) {
  .login > .content[data-aria-orientation="horizontal"] {
    grid-template-areas: "form-wrapper  divider sso-wrapper";
    align-items: flex-start;
    min-width: 44rem;
  }

  .login.sso-first > .content[data-aria-orientation="horizontal"] {
    grid-template-areas: "sso-wrapper divider form-wrapper ";
  }

  .login
    > .content[data-aria-orientation="horizontal"]
    > .divider[data-aria-orientation="vertical"] {
    display: block;
  }
  .login
    > .content[data-aria-orientation="horizontal"]
    > .divider[data-aria-orientation="horizontal"] {
    display: none;
  }
}
