.profile {
  display: flex;
  flex-direction: column;
}

.profile .change-email-form {
  margin-bottom: 2rem;
}

.profile .change-email-form .dz-data {
  margin-bottom: 0.5rem;
}

.profile .change-email-form .dz-data .dz-data-label {
  font-size: 1em;
}
