.profile {
  display: flex;
  flex-direction: column;
}

.profile .account-info {
  margin-bottom: 1rem;
}

.profile .account-info .data.update-email label {
  font-size: 1rem;
}

.profile .account-info .data.update-email .value {
  align-items: center;
  display: flex;
  gap: 0.45rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.profile .account-info .data.update-email {
  gap: 0.75rem;
}

.profile .account-info .data.update-email {
  gap: 0.15rem;
}

.profile .account-info .data.update-email .value {
  margin-bottom: 0;
}
