.signup {
  justify-items: center;
}

.signup .links {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.signup .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup .buttons label {
  cursor: pointer;
}

.signup .termsAndConditions {
  flex-direction: row;
  font-size: 12px;
  color: #525252;
  line-height: 1.35;
}
