.signup {
  justify-items: center;
}

.signup > .content {
  min-width: 20rem;
  width: max-content;
}

.signup .links {
  display: flex;
  justify-content: space-between;
}

.signup .buttons {
  gap: 0.5em;
}

.signup .buttons > label {
  cursor: pointer;
}
