.signup .termsAndConditions > .input-field-checkbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  color: #525252;
  line-height: 1.35;
}

.signup .page-content .dz-card {
  padding: 1rem;
}

input[type="checkbox"] {
  margin-right: 0.5em;
  width: auto;
  cursor: pointer;
  accent-color: #0062d8;
}
