.table-users .column-email {
  min-width: 20rem;
  width: 20rem;
  max-width: 20rem;
}

.table-users .column-name {
  min-width: 15rem;
}

.table-users .column-roles {
  width: 10rem;
  max-width: 10rem;
  min-width: 10rem;
}

.table-users .column-signedUpAt {
  width: 10rem;
  max-width: 10rem;
  min-width: 10rem;
}

.table-users .column-status {
  width: 10rem;
  max-width: 10rem;
  min-width: 10rem;
}

.table-users .column-actions {
  width: 5rem;
  max-width: 5rem;
  min-width: 5rem;
}
