.email-verification {
  justify-items: center;
}

.email-verification > .p-card > .p-card-body > .p-card-content {
  display: flex;
  flex-direction: column;
}

.resend-button {
  text-align: center;
}
